<template>
  <div class="fit-navbar-item fit-font-32 fit-flex-c-c-c" :class="{active:active}" @click="click">
    <slot></slot>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Emit } from "vue-property-decorator";
@Component
export default class FitNavBarItem extends Vue {
  @Prop({ default: false }) active!: boolean;
  @Emit("click")
  click() {}
}
</script>
