<template>
  <div class="fit-container password-keyboard-page">
    <div class="pwd-full-page-bg"></div>
    <div class="pwd-full-page-container">
      <div class="pwd-container">
        <div class="main-title" v-if="title">{{title}}</div>
        <div class="sub-title" v-if="subTitle">{{subTitle}}</div>
        <slot></slot>
        <div class="pwd-input">
          <fit-password title :length="pwdLength" :value="value" @click="eClick" @filled="filled"></fit-password>
        </div>
      </div>
      <slot name="content"></slot>
      <fit-keyboard :hidden="keyboardHidden" @bind-tap="onBindTap"></fit-keyboard>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import fitPassword from "@/packages/passward";
import fitKeyboard from "@/packages/keyboard";

export default Vue.extend({
  name: "fitVerifyPwdPage",
  components: {
    fitPassword,
    fitKeyboard
  },
  props: {
    title: {
      type: String,
      required: true
    },
    subTitle: {
      type: String,
      required: true
    },
    pwdLength: {
      type: Number,
      required: true
    },
    pin: {
      type: Array,
      required: false,
      default: () => []
    },
    keyboardHidden: {
      type: Boolean,
      default: false
    }
  },
  data: function() {
    return {
      output: this.pin
    };
  },
  computed: {
    value: function() {
      return this.output.join("");
    }
  },
  mounted: function() {
    console.log("mounted...");
  },
  updated: function() {
    console.log("updated...");
  },
  methods: {
    eClick: function() {
      this.$emit("click");
    },
    filled: function(value) {
      this.$emit("filled", value);
    },
    onBindTap: function(e) {
      var value = e.detail.value;
      if (value) {
        if (value === "DEL") {
          this.output.pop();
        } else {
          if (this.output.length < this.pwdLength) {
            this.output.push(value);
            this.$emit("typing");
          }
        }
      }
    }
  },
  watch: {
    pin: function() {
      this.output = this.pin;
    }
  }
});
</script>
