<template>
  <span class="fit-tag fit-font-24">
    <slot></slot>
  </span>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component
export default class FitTag extends Vue {}
</script>
