@__var_prefix: "fit";
@__var_rem: 2px;
@rem: 200rem;
@__var_transition_t: 0.3s;
@__var_border_radius: 10 / @__var_rem;
@__var_dialog_radius: 8 / @__var_rem;

/* 颜色 */
// 绿色按钮，图标及品牌色
@green_01: #07c160;
// 绿色按钮prees态
@green_02: #06ae56;
// 警告类操作、图标、按钮上文字颜色
@red: #fa5151;
// 警示类图标颜色
@yellow: #ffc300;
// 蓝色图标颜色
@blue_01: #10aeff;
// 链接文字颜色
@blue_02: #576b95;
// 链接字体press态，50%透明
@blue_02_press: fade(@blue_02, 50%);
// 主要文字
@black_90: rgba(0, 0, 0, 0.9);
// 辅助文字
@black_50: rgba(0, 0, 0, 0.5);
// 提示、底部页脚文字颜色
@black_30: rgba(0, 0, 0, 0.3);
// 用于分割线
@black_10: rgba(0, 0, 0, 0.1);
// 背景颜色/白色按钮背景颜色
@black_5: rgba(0, 0, 0, 0.05);

@__color_mask: rgba(0, 0, 0, 0.6);

/* 字体 */
// 字体大小
@__size_font_44: 44;
@__size_font_42: 42;
@__size_font_34: 34;
@__size_font_32: 32;
@__size_font_30: 30;
@__size_font_28: 28;
@__size_font_26: 26;
@__size_font_24: 24;
@__size_font_22: 22;
// 行高
@__line_height_64: 64;
@__line_height_50: 50;
@__line_height_48: 48;
@__line_height_40: 40;
@__line_height_38: 38;
@__line_height_34: 34;
@__line_height_32: 32;
@__line_height_28: 28;
@__line_height_26: 26;

/* 间距 */
// 内边距
@__padding_4: 4;
@__padding_8: 8;
@__padding_16: 16;
@__padding_24: 24;
@__padding_32: 32;
@__padding_48: 48;
@__padding_64: 64;
@__padding_80: 80;
// 外边距
@__margin_4: 4;
@__margin_8: 8;
@__margin_16: 16;
@__margin_24: 24;
@__margin_32: 32;
@__margin_48: 48;
@__margin_64: 64;
@__margin_80: 80;
