<template>
  <div class="fit-multi-select" :class="{'fit-form-item-el':isInForm}">
    <div class="fit-form-line" :class="{'fit-form-item-el-line':isInForm}" @click="visible=true">
      <span v-if="isValueAvaliavle">{{curLabel}}</span>
      <span v-else class="fit-color-light-grey">{{placeholder}}</span>
      <span v-if="isInForm" class="fit-form-item-suffix">
        <fit-icon icon="triangle"></fit-icon>
      </span>
    </div>
    <FitHalfScreenDialog
      :title="title"
      @onClose="onClose"
      :visible="visible"
      :maskClose="maskClose"
    >
      <div class="weui-picker__bd" slot="bd">
        <ScrollList
          v-for="(number,i) in depth"
          :key="i"
          :temp="curResult[i]"
          :items="multiItems[i]"
          @onChange="(item,index)=>onChange(item,index,i)"
        ></ScrollList>
      </div>
      <div class="weui-picker__group" slot="ft">
        <FitButton @click="confirm">{{confirmBtnText}}</FitButton>
      </div>
    </FitHalfScreenDialog>
  </div>
</template>
<script lang="ts">
import { FitHalfScreenDialog, FitButton, FitIcon } from "@";
import {
  Vue,
  Component,
  Prop,
  Model,
  Watch,
  Mixins
} from "vue-property-decorator";
import ScrollList from "../../picker/src/scrollList.vue";
import FormMixin from "@/common/mixins/formMixin";
interface Item {
  label: string;
  value: string;
  children?: Item[];
}
interface ItemTree<T> {
  [key: string]: T[];
}
@Component({
  components: {
    FitHalfScreenDialog,
    FitButton,
    ScrollList,
    FitIcon
  }
})
/**
 * 　value情况测试
 *  1.value空数组
 *  2.value长度大于depth
 *  3.value长度小于depth
 *  4.value长度等于depth
 */
export default class FitMultiPicker extends Mixins(FormMixin) {
  get multiItems() {
    let items: Item[] = this.items;
    const outputItems: Item[][] = [];
    for (let i = 0; i < this.depth; i++) {
      if (
        typeof this.curResult[i] !== "undefined" &&
        items[this.curResult[i]]
      ) {
        // 说明能找到值
        outputItems.push(items);
        items = items[this.curResult[i]].children || [];
      } else {
        // 找不到 空数组
        outputItems.push([]);
      }
    }
    return outputItems;
  }
  @Prop() public title!: string;
  @Prop({ default: true }) public maskClose!: boolean;
  @Prop() public confirmBtnText!: string;
  @Prop() public placeholder!: string;
  @Prop({ default: () => [] }) public items!: Item[];
  @Prop({ default: 3 }) public depth!: number;
  public visible = false;
  public curLabel = "";
  @Model("change") public readonly value!: string[] | number[];
  public curResult: number[] = [];

  public getValueAndLabelByResult() {
    const value: any = [];
    const label: any = [];
    console.log(
      "getValueAndLabelByResult----->",
      JSON.stringify(this.curResult)
    );
    this.curResult.reduce((pre: Item[], next: number) => {
      console.log("reduce----->", pre, next);
      const obj = pre[next];
      if (obj) {
        value.push(obj.value);
        label.push(obj.label);
        return obj.children || [];
      }
      return [];
    }, this.items);
    return [value, label];
  }
  public confirm() {
    const [value, label] = this.getValueAndLabelByResult();
    this.$emit("change", value, label);
    this.onClose();
  }
  public onChange(item: object, index: number, i: number) {
    this.curResult.splice(i, 1, index);
    for (let j = i + 1, l = this.curResult.length; j < l; j++) {
      this.curResult[j] = 0;
    }
  }
  public created() {
    // @ts-ignore
    window.__that = this;
    this.curResult = this.getCurResultByValue();
    this.setLable();
  }
  get isValueAvaliavle() {
    console.log("isValueAvaliavle----->", JSON.stringify(this.value));
    const valueLength = this.value.length;
    if (valueLength === 0) {
      // 数值为空
      return false;
    }
    let tem = this.items;
    for (let i = 0, l = valueLength; i < l; i++) {
      if (!Array.isArray(tem)) {
        // 说明有数值 但是没有匹配了
        return false;
      }
      const resultIndex = tem.findIndex(item => item.value === this.value[i]);
      console.log("resultIndex----->", resultIndex, JSON.stringify(tem));

      if (resultIndex === -1) {
        return false;
      }
      tem = tem[resultIndex].children as Item[];
    }
    if (valueLength < this.depth) {
      // 如果数值小于深度 还要判断是否还有子项 没有子项为true 有为false
      return !tem;
    }
    return true;
  }

  public getCurResultByValue() {
    console.log(
      "getCurResultByValue----->start",
      JSON.stringify(this.isValueAvaliavle)
    );
    if (!this.isValueAvaliavle) {
      return new Array(this.depth).fill(0);
    }
    const result: number[] = [];
    const tem = this.items;
    for (let i = 0; i < this.depth; i++) {
      const resultIndex = tem.findIndex(item => item.value === this.value[i]);
      if (resultIndex === -1) {
        return result;
      }
      result.push(resultIndex);
    }
    console.log("getCurResultByValue----->", JSON.stringify(result));
    return result;
  }

  @Watch("visible")
  public onValueChange() {
    if (this.visible) {
      this.curResult = this.getCurResultByValue();
    }
  }
  @Watch("value")
  public setLable() {
    if (this.isValueAvaliavle) {
      const [value, label] = this.getValueAndLabelByResult();
      this.curLabel = label.join(",");
      return;
    }
    this.curLabel = "";
  }
  public onClose() {
    this.$emit("onClose");
    this.visible = false;
  }
}
</script>
