/*
* Tencent is pleased to support the open source community by making WeUI available.
* 
* Copyright (C) 2017 THL A29 Limited, a Tencent company. All rights reserved.
* 
* Licensed under the MIT License (the "License"); you may not use this file except in compliance
* with the License. You may obtain a copy of the License at
* 
*       http://opensource.org/licenses/MIT
* 
* Unless required by applicable law or agreed to in writing, software distributed under the License is
* distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
* either express or implied. See the License for the specific language governing permissions and
* limitations under the License.
*/

@import "weui-font";

[class^="weui-icon_"]:before,
[class*=" weui-icon_"]:before {
  margin: 0;
}
.weui-icon-success {
  font-size: 48px;
  color: @weuiColorPrimary;
}
.weui-icon-waiting {
  font-size: 48px;
  color: #10aeff;
}
.weui-icon-warn {
  font-size: 48px;
  color: @weuiColorWarn;
}
.weui-icon-info {
  font-size: 48px;
  color: #10aeff;
}

.weui-icon-success-circle {
  // font-size: 23px;
  font-size: 48px;
  color: @weuiColorPrimary;
}

.weui-icon-success-no-circle {
  // font-size: 23px;
  font-size: 48px;
  color: @weuiColorPrimary;
}
.weui-icon-waiting-circle {
  // font-size: 23px;
  font-size: 48px;
  color: #10aeff;
}
.weui-icon-circle {
  // font-size: 23px;
  font-size: 48px;
  color: #c9c9c9;
}
.weui-icon-download {
  // font-size: 23px;
  font-size: 48px;
  color: @weuiColorPrimary;
}

.weui-icon-info-circle {
  // font-size: 23px;
  font-size: 48px;
  color: @weuiColorPrimary;
}

.weui-icon-safe-success {
  font-size: 48px;
  color: @weuiColorPrimary;
}
.weui-icon-safe-warn {
  font-size: 48px;
  color: #ffbe00;
}

.weui-icon-cancel {
  color: @weuiColorWarn;
  font-size: 48px;
}

.weui-icon-search {
  color: @weuiTextColorDesc;
  font-size: 18px;
  &:before {
    margin-right: 0;
  }
}

.weui-icon-clear {
  // color: #b2b2b2;
  color: #000;
  font-size: 48px;
}

.weui-icon-delete {
  font-size: 48px;
  &.weui-icon_gallery-delete {
    color: #ffffff;
    font-size: 22px;
  }
}

.weui-icon_msg {
  font-size: 64px;
  &.weui-icon-warn {
    color: @weuiColorWarn;
  }
}
.weui-icon_msg-primary {
  font-size: 64px;
  &.weui-icon-warn {
    color: rgba(0, 0, 0, 0.3);
  }
}
