<template>
  <FitLayOut class="fit-msg fit-t-c">
    <div class="fit-msg-hd">
      <FitIcon :icon="icon"></FitIcon>
      <div class="fit-msg-hd-title" :style="{'color': titleColor}">{{title}}</div>
      <div class="fit-msg-hd-desc" v-if="desc">{{desc}}</div>
      <div class="fit-msg-hd-desc" v-if="isHasSlotDesc">
        <slot name="desc"></slot>
      </div>
      <div class="fit-msg-hd-suffix fit-color-light-blue">
        <slot name="suffix"></slot>
      </div>
    </div>
    <div class="fit-msg-bd">
      <slot name="content"></slot>
    </div>
    <div class="fit-msg-ft" slot="ft">
      <div class="fit-msg-ft-btn">
        <slot name="ft-btn"></slot>
      </div>
      <slot name="ft"></slot>
    </div>
  </FitLayOut>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Prop,
} from "vue-property-decorator";
import FitIcon from '../../icon/src/index.vue';
import FitLayOut from '../../layout/src/index.vue';
import FitButton from '../../button/src/index.vue';
@Component({
  components:{
    FitLayOut,FitIcon,FitButton
  }
})
export default class FitMsg extends Vue{
  @Prop()icon;
  @Prop()title;
  @Prop()desc;
  @Prop({default:"rgba(0, 0, 0)"})titleColor;
  get isHasSlotDesc(){
    return !!this.$slots.desc;
  }
}
</script>
