<template>
    <a 
      href="javascript:;"
      @click="click" 
      class="weui-btn"
      :class="[
        'weui-btn_'+type,
        'weui-btn-size_'+size,
        {
            'weui-btn_disabled':disabled,
            'weui-btn_ghost':ghost
        }]"
      :style="{'background-color': color ? color : ''}"
    >
    <!-- @slot 按钮内容 -->
    <slot></slot>
    </a>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
@Component
export default class FitButton extends Vue {
  /** 按钮类型 */
  @Prop({ default: 'primary' }) public type!: string;
  /** 按钮大小 */
  @Prop({ default: 'normal' }) public size!: string;
  /** 是否为禁用状态 */
  @Prop({ default: false }) public disabled!: boolean;
  /** 是否为ghost状态 */
  @Prop({ default: false }) public ghost!: boolean;
  /** 传入颜色 */
  @Prop({ default: '' }) public color!: string;

  public click() {
    if (this.disabled || this.type === 'disabled') {
      return;
    }
    /**
     * 点击事件
     */
    this.$emit('click');
  }
}
</script>
