<template>
  <span class="fit-check-box">
    <input
    type="checkbox"
          class="weui-cells_checkbox weui-agree__checkbox"
          :checked="value"
          @change="(e)=>$emit('change',e.target.checked)"
        />
      <FitIcon icon="tick" :class="[{'fit-check-box__hide':!value}]" size="18" ></FitIcon>
  </span>
</template>
<script lang="ts">
import { Component, Model, Mixins, Watch } from "vue-property-decorator";
import FormMixin from "@/common/mixins/formMixin";
import FitIcon from '../../icon/index';
@Component({
  components:{
    FitIcon
  }
})
export default class FitCheckbox extends Mixins(FormMixin) {
  @Model("change") value;
  @Watch("value")
  onValueChange() {
    this.notify("change", this.value);
  }
}
</script>
