<template>
  <div
    class="weui-container weui-global-dom"
    id="halfSelfDialog"
    :class="visible?'weui-global-dom-active':''"
    @click="handleClickMask"
  >
    <FitWxPhonex class="weui-half-screen-dialog weui-slide" :class="visible?'weui-slide-active':''">
      <div class="weui-half-screen-dialog__hd" v-if="!hideHeader">
        <div class="weui-half-screen-dialog__hd__side">
          <div class="weui-icon-btn weui-icon-btn_close" @click="onClose"></div>
        </div>
        <div class="weui-half-screen-dialog__hd__main">
          <strong class="weui-half-screen-dialog__title">{{title}}</strong>
        </div>
      </div>
      <div class="weui-half-screen-dialog__bd">
        <slot name="bd"></slot>
        <slot></slot>
      </div>
      <div class="weui-half-screen-dialog__ft" v-if="$slots.ft">
        <slot name="ft"></slot>
      </div>
    </FitWxPhonex>
    <!--        </transition>-->
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import {FitWxPhonex} from '@';
export default Vue.extend({
  name: "FitHalfScreenDialog",
  components:{
    FitWxPhonex
  },
  props: {
    title: String,
    visible: Boolean,
    maskClose: {
      type: Boolean,
      default: true
    },
    hideHeader: {
      type: Boolean,
      default: false,
    },
    appendToBody: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    onClose() {
      this.$emit("onClose");
    },
    handleClickMask(e: Event) {
      // todo 为什么这里会报错
      // @ts-ignore
      if (e && e.target && e.target.id === "halfSelfDialog") {
        if (this.maskClose) {
          this.onClose();
        }
      }
    },
    stop(e: Event) {
      console.log(e);
      e.preventDefault();
    }
  },
  mounted() {
    if (this.appendToBody) {
      document.body.appendChild(this.$el);
    }
  },
  destroyed() {
    // if appendToBody is true, remove DOM node after destroy
    if (this.appendToBody && this.$el && this.$el.parentNode) {
      this.$el.parentNode.removeChild(this.$el);
    }
  }
});
</script>
