<template>
  <div class="fit-container fit-password">
    <p class="fit-password-title">{{title}}</p>
    <div class="fit-password-content flex-center" @click.stop="eClick">
      <span
        v-for="(item,id) in content"
        :key="id"
        :class="{'fit-password-encoded': item.isEncoded}"
      >{{item.v || ''}}</span>
    </div>
  </div>
</template>
<script>
import mixins from "../../../common/mixin";

export default {
  name: "fit-password",
  mixins,
  props: {
    title: {
      type: String,
      required: true
    },
    length: {
      type: [Number, String],
      default: 6,
      validator: function(value) {
        const v = parseInt(value, 10);
        return !isNaN(v) && v >= 4 && v <= 10;
      }
    },
    value: {
      type: String,
      default: ""
    },
    visible: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    content: function() {
      var value = String(this.value),
        length = this.length,
        ret = [],
        visible = this.visible,
        i,
        v;
      for (i = 0; i < length; i++) {
        v = value.charAt(i) ? (!visible ? "*" : value.charAt(i)) : "";
        ret.push({
          v: v,
          isEncoded: v === "*"
        });
      }
      return ret;
    }
  },
  watch: {
    value: function() {
      var that = this;
      setTimeout(function() {
        var value,
          ret = "";
        if (that.value.length >= that.length) {
          value = that.value.slice(0, that.length);
          ret = (function(v) {
            var r = [],
              i,
              l;
            for (i = 0, l = v.length; i < l; i++) {
              r.push(v[i]);
            }
            return r;
          })(value);
          that.$emit("filled", ret);
        }
      }, 10);
    }
  },
  methods: {
    eClick: function() {
      console.log('click.......');
      this.$emit("click");
    }
  }
};
</script>
