// fit前缀
@__var_prefix: fit;
@__var_assets: "~@/assets";
@__var_rem: 200rem;
@__var_border_radius:8 /@__var_rem;
@__var_border_radius_small:6 /@__var_rem;
@__var_dialog_radius:8 /@__var_rem;

@__var_transition_t: 0.3s;
@__size_font_48:48 /@__var_rem;
@__size_font_40:40 /@__var_rem;
@__size_font_36:36 /@__var_rem;
@__size_font_30:30 /@__var_rem;
@__size_font_34:34 /@__var_rem;
@__size_font_28:28 /@__var_rem;
@__size_font_26:26 /@__var_rem;
@__size_font_22:22 /@__var_rem;
@__size_font_24:24 /@__var_rem;
@__size_font_32:32 /@__var_rem;
@__color_green: #07c160;
@__color_green_active: #07ad56;
@__color_green_text: #02bb00;
@__color_black: #000000;
@__color_black_2: #191919;
@__color_white: #fff;
@__color_mask: rgba(0, 0, 0, 0.6);
@__color_grey: #888;
@__color_grey_1: #888;
@__color_grey_2: #c7c7cc;
@__color_grey_3: #bbbbbb;
@__color_grey_4: #e6e6e6;
@__color_grey_5: #b2b2b2;
@__color_grey_6: #ededed;
@__color_light-grey: #e6e6e6;
@__color_light-blue: #576b95;
@__color_red: #e64340;
@__color_red_2: #fa5151;
@__color_yellow: #eeb026;
@__color_orangle: #fa9d3b;
@__color_black_2: #353535;
