<template>
  <div class="weui-loadmore" :class="{'weui-loadmore_line':line,'weui-loadmore_dot':dot}">
    <slot name="prefix"></slot>
    <span class="weui-loadmore__tips">
      <slot></slot>
    </span>
  </div>
</template>
<script lang="ts">
import { FitIcon } from "@";
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({
  components: {
    FitIcon
  }
})
export default class FitPicker extends Vue {
  @Prop({ default: false }) public line!: boolean;
  @Prop({ default: false }) public dot!: boolean;
}
</script>
