@import "mixins/base";
.fit-badge{
  position: relative;
  vertical-align: middle;
  display: inline-block;
  &__content{
    background-color: @__color_red_2;
    border-radius: 10/@__var_rem;
    color: #fff;
    display: inline-block;
    font-size: 24/@__var_rem;
    height: 36/@__var_rem;
    line-height: 36/@__var_rem;
    padding: 0 12/@__var_rem;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #fff;
    &.is-dot {
      height: 18/@__var_rem;
      width: 18/@__var_rem;
      padding: 0;
      right: 0;
      border-radius: 50%
    }
  }
}
