@import "style/base/reset";
@import "mixins/base.less";
@import "mixins/weui.polyfill.less";
@import "style/widget/weui-button/weui-button";
@import "./font.less";
.weui-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 368 / @__var_rem;
  border-radius: @__var_border_radius;
  line-height: 1;
  box-sizing: border-box;
  white-space: nowrap;
  user-select: none;
  .font-34-medium;
  .weui-icon-svg {
    margin-right: 7 / @__var_rem;
  }
  &-size {
    &_small {
      border-radius: @__var_border_radius_small;
      height: 64 / @__var_rem;
      width: 116 / @__var_rem;
      min-width: 0;
      .font-32-medium;
    }
    &_normal {
      width: auto;
      height: 80 / @__var_rem;
      padding: 0 32 / @__var_rem;
    }
  }
}
