@import "mixins/weui.polyfill.less";

.@{__var_prefix}-card{
  margin: 0 30/@__var_rem;
  border-radius: 6/@__var_rem;
  overflow: hidden;
  background: white;
  box-shadow:0 2/@__var_rem 2/@__var_rem 0 rgba(0,0,0,0.1);
  &-hd{
    background: @__color_green;
    color: white;
    padding: 19/@__var_rem 30/@__var_rem 18/@__var_rem 30/@__var_rem;
  }
  &-bd{
    padding: 60/@__var_rem 30/@__var_rem;
  }
  &-ft{
    position: relative;
    width: 100%;
    height: 454/@__var_rem;
    &:before{
      content: ' ';
      position: absolute;
      border-top: 1px dashed #b2b2b2;
      left: 0;
      top: 0;
      width: 100%;
      transform: scaleY(0.5);
    }
  }
}
