@import "mixins/base";
.@{__var_prefix}-corner {
  @__var_corn_width:6/@__var_rem;
  position: relative;
  padding: 48/@__var_rem (27 + 14)/@__var_rem 29/@__var_rem (27 + 14)/@__var_rem;
  margin-bottom: 30/@__var_rem;
  &-tl,&-tr,&-bl,&-br{
    &:before,&:after{
      content: ' ';
      position: absolute;
      background: @__color_grey_2;
    }
    &:before{
      width: 26/@__var_rem;
      height: @__var_corn_width;
    }
    &:after{
      height: 26/@__var_rem;
      width: @__var_corn_width;
    }
  }
  &.active{
    .@{__var_prefix}-corner{
      &-tl,&-tr,&-bl,&-br{
        &:before,&:after{
          background: @__color_green;
        }
      }
    }
  }
  &.error{
    .@{__var_prefix}-corner{
      &-tl,&-tr,&-bl,&-br{
        &:before,&:after{
          background: #E64340;
        }
      }
    }
  }
  &-tl{
    &:before,&:after{
      top: 0;
      left: 0;
    }
  }
  &-tr{
    &:before,&:after{
      top: 0;
      right: 0;
    }
  }
  &-bl{
    &:before,&:after{
      bottom: 0;
      left: 0;
    }
  }
  &-br{
    &:before,&:after{
      bottom: 0;
      right: 0;
    }
  }
}
