@import "mixins/base";
@import "mixins/weui.polyfill.less";
@import "style/widget/weui-tips/weui-mask.less";
@import "style/widget/weui-tips/weui-dialog.less";
.weui-container{
  .weui-dialog{
    width: 640/@__var_rem;
    box-sizing: border-box;
    left: 55/@__var_rem;
    right: auto;
    border-radius: 24/@__var_rem;
    .weui-dialog__btn_primary{
      color: #576B95;// 固定颜色
    }
    .weui-dialog__bd{
      padding: 0/@__var_rem 60/@__var_rem 0 60/@__var_rem;
      margin-top: 64/@__var_rem;
      margin-bottom: 60/@__var_rem;
      font-size: @__size_font_34;
      line-height: 48/@__var_rem;
      color: #191919;
      min-height: auto;
      font-weight: bold;
      word-break: normal;
      &__left{
        text-align: left;
      }
      max-height: ( 634 - 60 )/@__var_rem;
      box-sizing: border-box;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .weui-dialog__ft{
      &.weui-dialog__ft__vertical{
        flex-direction: column;
        .weui-dialog__btn+.weui-dialog__btn{
          position: relative;
          &:after{
            border-left: none;
            content: " ";
            width: auto;
            .setTopLine(@weuiDialogLineColor);
          }
        }
      }
    }
    .weui-dialog__hd{
      padding: 64/@__var_rem 60/@__var_rem 32/@__var_rem 60/@__var_rem;
      line-height: 48/@__var_rem;
      font-weight: bold;
      word-break: normal;
    }
    .weui-dialog__btn{
      padding: 30/@__var_rem 30/@__var_rem 33/@__var_rem 30/@__var_rem;
      font-size: @__size_font_34;
      line-height: 48/@__var_rem;
      word-break: normal;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: bold;
    }
    &.weui-dialog-hastitle{
      .weui-dialog__hd{
        padding: 64/@__var_rem 60/@__var_rem 32/@__var_rem 60/@__var_rem;
      }
      .weui-dialog__bd{
        padding-top: 0;
        margin-top: 0;
        color: #808080;
        font-weight: normal;
      }
    }
  }
}
