@import (reference) "./default/var.less";
@import (reference) "./default/font-mixin.less";

/* 用于支付结果页、转账、账单详情等金额需要最主要突出=时的场景 */
.font-face("WeChatSansStd-Bold", "./font/WeChatSansStd-Bold", normal, normal);
/* 字体和金额等大，当金额在场景中属于一般信息，但需要有差异时使用 */
.font-face("WechatSansStd-Regular", "./font/WeChatSansStd-Regular", normal, normal);
/* 字体和金额等大，当金额在场景中是重要信息时，多用于账单列表等 */
.font-face("WeChatSansStd-Medium", "./font/WeChatSansStd-Medium", normal, normal);

// .font-face("WeChatSansStd-Light", "./default/font/WeChatSansStd-Light", normal, normal);

// 中文字体变量
@cn_ios_regular: "PingFangSC-Regular";
@cn_ios_medium: "PingFangSC-Medium";

// 英文字体变量
@en_ios_regular: "Helvetica Neue";

// 辅助函数
.font-helper(@font, @font-size, @line-height) {
  .font(@font, @font-size / @rem, normal, normal);
  line-height: @line-height / @rem;
}

.font-helper2(@font, @font-size, @line-height, @color) {
  .font(@font, @font-size / @rem, normal, normal);
  line-height: @line-height / @rem;
  color: @color;
}

// 字体1 主要运用在大标题
.font-44-regular {
  .font-helper(@cn_ios_regular, @__size_font_44, @__line_height_64);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_42, @__line_height_50);
  }
}

.font-44-regular(@color) {
  .font-helper2(@cn_ios_regular, @__size_font_44, @__line_height_64, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_42, @__line_height_50, @color);
  }
}

.font-44-medium {
  .font-helper(@cn_ios_medium, @__size_font_44, @__line_height_64);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_42, @__line_height_50);
  }
}

.font-44-medium(@color) {
  .font-helper2(@cn_ios_medium, @__size_font_44, @__line_height_64, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_42, @__line_height_50, @color);
  }
}

// 字体2 大标题、表单、主按钮文本
.font-34-regular {
  .font-helper(@cn_ios_regular, @__size_font_34, @__line_height_48);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_32, @__line_height_38);
  }
}

.font-34-regular(@color) {
  .font-helper2(@cn_ios_regular, @__size_font_34, @__line_height_48, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_32, @__line_height_38, @color);
  }
}

.font-34-medium {
  .font-helper(@cn_ios_medium, @__size_font_34, @__line_height_48);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_32, @__line_height_38);
  }
}

.font-34-medium(@color) {
  .font-helper2(@cn_ios_medium, @__size_font_34, @__line_height_48, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_32, @__line_height_38, @color);
  }
}

// 字体3 小按钮文本、文本
.font-32-regular {
  .font-helper(@cn_ios_regular, @__size_font_32, @__line_height_48);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_30, @__line_height_38);
  }
}

.font-32-regular(@color) {
  .font-helper2(@cn_ios_regular, @__size_font_32, @__line_height_48, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_30, @__line_height_38, @color);
  }
}

.font-32-medium {
  .font-helper(@cn_ios_medium, @__size_font_32, @__line_height_48);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_30, @__line_height_38);
  }
}

.font-32-medium(@color) {
  .font-helper2(@cn_ios_medium, @__size_font_32, @__line_height_48, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_30, @__line_height_38, @color);
  }
}

// 中文字体4 列表中次要信息、常规文本信息
.font-28-regular {
  .font-helper(@cn_ios_regular, @__size_font_28, @__line_height_40);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_26, @__line_height_34);
  }
}

.font-28-regular(@color) {
  .font-helper2(@cn_ios_regular, @__size_font_28, @__line_height_40, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_26, @__line_height_34, @color);
  }
}

.font-28-medium {
  .font-helper(@cn_ios_medium, @__size_font_28, @__line_height_40);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_26, @__line_height_34);
  }
}

.font-28-medium(@color) {
  .font-helper2(@cn_ios_medium, @__size_font_28, @__line_height_40, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_26, @__line_height_34, @color);
  }
}

// 中文字体5 页脚信息
.font-24-regular {
  .font-helper(@cn_ios_regular, @__size_font_24, @__line_height_32);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_22, @__line_height_26);
  }
}

.font-24-regular(@color) {
  .font-helper2(@cn_ios_regular, @__size_font_24, @__line_height_32, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_22, @__line_height_26, @color);
  }
}

.font-24-medium {
  .font-helper(@cn_ios_medium, @__size_font_24, @__line_height_32);
  .en & {
    .font-helper(@en_ios_regular, @__size_font_22, @__line_height_26);
  }
}

.font-24-medium(@color) {
  .font-helper2(@cn_ios_medium, @__size_font_24, @__line_height_32, @color);
  .en & {
    .font-helper2(@en_ios_regular, @__size_font_22, @__line_height_26, @color);
  }
}

/* 数字金额字体， 设计说数字的字号、行高无明确标准，这里选了30px作为default 有需要自定义即可 */
// 固定字体比例 用于支付结果页、转账、账单详情等金额需要最主要突出的场景
.amount-bold {
  font-family: "WeChatSansStd-Bold";
}
// 字体和金额等大 当金额在场景中是重要信息时，多用于账单列表等
.amount-medium(@font-size: 30px) {
  font-family: "WeChatSansStd-Medium";
}
// 字体和金额等大 当金额在场景中属于一般信息，但需要有差异时使用
.amount-regular(@font-size: 30px) {
  font-family: "WeChatSansStd-Regular";
}
