@import "mixins/base";
.@{__var_prefix}-form-item {
  padding: 0 30/@__var_rem;
  background: white;
  position: relative;
  overflow-x: hidden;
  &:only-child {
    .@{__var_prefix}-form-item{
      &-box{
        &:after{
          left: 0;
        }
      }
    }
  }

  &:last-child {
    .@{__var_prefix}-form-item{
      &-box{
        &:after{
          left: 0;
        }
      }
    }
  }

  &-label{
    padding-right: 30/@__var_rem;
    flex-shrink: 0;
    text-align: left;
  }
  &-box{
    color: @__color_black;
    font-size: @__size_font_34;
    line-height: 48/@__var_rem;
    .mixins_flex_r-l-base();
    padding: 30/@__var_rem 0 31/@__var_rem 0;

    &:after{
      content: '';
      border-bottom: 1px solid @__color_grey_4;
      transform: scaleY(0.5);
      position: absolute;
      left: 30/@__var_rem;
      bottom: 0;
      width: 100%;

    }
  }
  &-content{
    .mixins_flex_c-l-c();
    //.mixins_flex_l-v();
    flex-grow: 1;
    &-error{
      color: @__color_red;
      text-align: left;
    }
    &.@{__var_prefix}-form-item-right{
      align-items: flex-end;
      text-align: right;
    }
  }
  &-suffix{
    flex-shrink: 0;
    font-size: @__size_font_28;
    color: @__color_grey;
    .weui-icon-triangle{
      margin-left: 20/@__var_rem;
      &:after{
        right: 4/@__var_rem;
      }
    }
  }
  &-alignItem{
    &-start{
      align-items: start;
    }
    &-center{
      align-items: center;
    }
    &-end{
      align-items: end;
    }
  }

  &-icon{
    display: flex;
    padding-left: 0;
    .prefix-icon{
      width: 50/@__var_rem;
      height: 50/@__var_rem;
      padding: 29/@__var_rem 25/@__var_rem 31/@__var_rem;
    }
    .fit-form-item-box{
      flex: 1;
      &:after{
        left: 100/@__var_rem;
      }
    }
  }
}

