@import "style/base/reset";
@import "mixins/weui.polyfill.less";
@import "style/widget/weui-tips/weui-mask";
@import "style/widget/weui-tips/weui-half-screen-dialog";
@import "mixins/base";

.weui-half-screen-option {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5000;
    line-height: 1.4;
    background-color: rgba(234,231,232,1);
    -webkit-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
    overflow: hidden;
}

.option-item:after {
    content: '';
    border-bottom: 1px solid #e6e6e6;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.option-item{
    background: #FFFFFF;
    position: relative;
    line-height: 112/@__var_rem;
    font-size: 34/@__var_rem;
    &:last-child {
        margin-top:16/@__var_rem;
    }
}
