@import "style/base/reset";
@import "mixins/weui.polyfill.less";
@import "style/icon/weui-font";
@import "style/icon/weui-icon_font";
@import "style/widget/weui-loading/weui-loading";

.weui-icon-triangle {
  position: relative;
  width: 10 * 2 / @__var_rem;
  &:after {
    content: " ";
    display: inline-block;
    height: 8 * 2 / @__var_rem;
    width: 8 * 2 / @__var_rem;
    border-width: 2 * 2 / @__var_rem 2 * 2 / @__var_rem 0 0;
    border-color: @__color_grey_2;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
    top: 50%;
    margin-top: -6 * 2 / @__var_rem;
    right: 0;
  }
}
.weui-icon-redpoint {
  position: relative;
  width: 18 / @__var_rem;
  height: 18 / @__var_rem;
  border-radius: 100%;
  background: @__color_red_2;
}
.weui-icon-svg {
  width: 48 / @__var_rem;
  height: 48 / @__var_rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  flex-shrink: 0;
  &-height-1 {
    height: 1em;
  }
}
