@import "mixins/base";
.fit-info-box{
    .fit-info-box-inner{
      &-border {
        &:before,&:after{
          content: '';
          position: absolute;
          left: 0;
          transform: scaleY(0.5);
          width: 100%;
          z-index: 1;
        }
        &:before{
          top: 0;
          border-top: 1px solid @__color_grey_4;
        }
        &:after{
          bottom: 0;
          border-top: 1px solid @__color_grey_4;
        }
      }
  }
  &-inner {
    background: white;
    padding: 30/@__var_rem 30/@__var_rem 10/@__var_rem 30/@__var_rem;
    position: relative;

  }
  &-title{
    padding: 40/@__var_rem 30/@__var_rem 16/@__var_rem 30/@__var_rem;
    font-size: 40/@__var_rem;
    line-height: 56/@__var_rem;
    color: @__color_black_2;
    background: @__color_grey_6;
    font-weight: 500;
  }
}
