@import "mixins/base";
.fit-info-box-line {
  line-height: 42/@__var_rem;
  font-size: 30/@__var_rem;
  padding-bottom: 20/@__var_rem;
  &-left,&-right{
    flex-shrink: 0;
  }
  &-right{
    text-align: right;
  }
  &-align_left{
    text-align: left;
  }
  &-align_right{
    text-align: right;
  }
}
