@import "mixins/base";
& {
  // 旧代码用了100rem 只能用局部避免污染
  @rem: 100rem;

  /**
   * @name     : fit-key-board
   * @explain  : 模拟键盘
  */

  .@{__var_prefix}-key-board {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
  }

  .@{__var_prefix}-key-board-show {
    height: auto;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
  }

  .@{__var_prefix}-key-board .keyboard-cell, .@{__var_prefix}-key-board .keyboard-packup {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
  }

  .@{__var_prefix}-key-board .keyboard-cell:before, .@{__var_prefix}-key-board .keyboard-key:not(:last-child):before, .@{__var_prefix}-key-board .keyboard-packup:before {
    z-index: 1;
    position: absolute;
    content: "";
  }

  .@{__var_prefix}-key-board .keyboard-cell:before, .@{__var_prefix}-key-board .keyboard-packup:before {
    top: -0.5/@rem;
    left: 0;
    width: 100%;
    border-top: 1/@rem #c0c0c0 solid;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: center;
    transform-origin: center;
  }

  .@{__var_prefix}-key-board .keyboard-key:not(:last-child):before {
    right: -0.5/@rem;
    top: 0;
    height: 100%;
    border-right: 1/@rem #c0c0c0 solid;
    -webkit-transform: scaleX(.5);
    -webkit-transform-origin: 0 0;
    transform: scaleX(.5);
    transform-origin: 0 0;
  }

  .@{__var_prefix}-key-board .keyboard-key {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    height: 56/@rem;
    line-height: 1.2;
    font-size: 28/@rem;
  }

  .@{__var_prefix}-key-board .keyboard-key:active {
    background-color: #d1d4dd;
  }

  .@{__var_prefix}-key-board .keyboard-letter {
    display: block;
    font-size: 10/@rem;
    letter-spacing: 1/@rem;
  }

  .@{__var_prefix}-key-board .keyboard-ctrl, .@{__var_prefix}-key-board .keyboard-disabled {
    background-color: #d1d4dd;
    text-align: center;
  }

  .@{__var_prefix}-key-board .keyboard-ctrl:active {
    background-color: #fff;
  }

  .@{__var_prefix}-key-board .keyboard-clear {
    background: url('@{__var_assets}/image/key-board-clear.png') center center #d1d4dd no-repeat;
    -webkit-background-size: 22/@rem 16/@rem;
    background-size: 22/@rem 16/@rem;
  }

  .@{__var_prefix}-key-board .keyboard-packup {
    justify-content: space-between;
  }

  .@{__var_prefix}-key-board .keyboard-packup:before {
    border-color: #e5e5e5;
  }

  .@{__var_prefix}-key-board .keyboard-packup a {
    line-height: 40/@rem;
    margin-left: auto;
    padding: 0 15/@rem;
  }

  /* iPhone X */
  @media only screen and (device-width: 375/@rem) and (device-height: 812/@rem) and (-webkit-device-pixel-ratio: 3) {
    /*导航操作栏上移*/
    .@{__var_prefix}-key-board .keyboard-cell:last-child .keyboard-key {
      padding-bottom: 2/@rem;
    }
  }
}

