@import "mixins/base";
@import "style/widget/weui-footer/weui-footer.less";
.weui{
  &-layout{
    .mixins_flex();
    .mixins_flex_d_c();
    //position: fixed;
    //left: 0;
    //top: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    &-bd{
      flex-grow: 1;
    }
    &-ft{
      text-align: center;
      padding-bottom: 30/@__var_rem;
      &-item {
        padding: 0 20 / @__var_rem;
        position: relative;
        &:first-child {
          &:before {
            content: " ";
            position: absolute;
            right: 0;
            top: 50%;
            height: 30 / @__var_rem;
            transform: scaleX(0.5) translateY(-50%);
            border-right: 1px solid #d8d8d8;
          }
        }
      }
   }
  }
}
