@import "style/base/reset";
.@{__var_prefix}-msg{
  &-hd{
    padding: 100/@__var_rem 94/@__var_rem 0;
    .weui-icon{
      font-size: 120/@__var_rem;
    }
    &-title{
      margin-top: 70/@__var_rem;
      font-size: 44/@__var_rem;
      color: @__color_black_2;
      line-height: 62/@__var_rem;
    }
    &-desc {
      font-size:34/@__var_rem;
      font-weight:400;
      opacity: 0.5;
      color: @__color_black_2;
      line-height:54/@__var_rem;
      margin-top: 32/@__var_rem;
    }
  }
  &-ft-btn{
    font-size: 0;
    padding-bottom: 192/@__var_rem;
    .weui-btn{
      min-width: 368/@__var_rem;
      height: 80/@__var_rem;
      line-height: 80/@__var_rem;
      padding: 0;
      width: auto;
      font-size: 34/@__var_rem;
    }
  }
}
