@import "style/base/reset";
@import "mixins/weui.polyfill.less";
@import "style/widget/weui-searchbar/weui-searchbar.less";
@import "style/widget/weui-cell/weui-check/weui-radio.less";
.@{__var_prefix}-nation-inner{
  font-size: 28/@__var_rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;

  &-search{
    opacity: 0;
  }
  &-list{
    background: white;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
  }
  .fit-nation-search{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
  }
}

.fit-nation{
  width: 100%;
  .weui-cell{
    padding-left: 0;
    padding-right: 0;
    &:before{
      left: 0;
    }
  }
  &-hd{
    padding-top: 30/@__var_rem!important;
    padding-bottom: 16/@__var_rem!important;
  }
  &-box{
    width: 100%;
  }
  &-line{
    width: 100%;
    .mixins_flex();
    justify-content: space-between;
    align-items: center;
  }
}
