@import "mixins/weui.polyfill.less";

.@{__var_prefix}-navbar-item{
  flex-grow: 1;
  position: relative;
  height: 96/@__var_rem;
  //padding: 26/@__var_rem 0;
  color: @__color_grey;
  &.active{
    color: @__color_green;
    &:after{
      display: block;
    }
  }
  &:after{
    display: none;
    content: ' ';
    width: 80/@__var_rem;
    height: 8/@__var_rem;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    background: @__color_green;
  }
}
