@import "mixins/base";
.fit-operation-banner{
  background: white;
  display: flex;
  padding: 30/@__var_rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  &:before,&:after{
    content: ' ';
    position: absolute;
    border-top: 1px solid #E5E5E5;
    width: 100%;
    left: 0;
    transform: scaleY(0.5);
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
  &-hd,&-bd,&-ft{
    flex-shrink: 0;
  }
  &-title,&-ft{
    font-size: 34/@__var_rem;
    line-height: 48/@__var_rem;

  }
  &-bd{
    padding-left: 20/@__var_rem;
    flex-grow: 1;
  }
  &-suffix{
    margin-right: 28/@__var_rem;
  }
  &-desc{
    margin-top: 6/@__var_rem;
    font-size: 28/@__var_rem;
    line-height: 40/@__var_rem;
  }
  &-ft{
    display: flex;
    flex-direction: row;
  }
}
