@import "mixins/base";

& {
  // 旧代码用了100rem 只能用局部避免污染
  @rem: 100rem;

  .@{__var_prefix} {
    /**
 * password样式
 */

    &-password {
      text-align: center;
      padding: 20/@rem 0;
    }

    &-password-title {
      font-size: 16/@rem;
    }

    &-password-content {
      margin: 25/@rem 0 0;
      background: #fff;
      border: 1/@rem solid #a5b4d3;
      color: #333;
    }

    &-password-content span {
      flex: 1;
      display: inline-block;
      vertical-align: middle;
      border-left: 1/@rem solid #e0e0e0;
      font-size: 22/@rem;
      line-height: 44/@rem;
      height: 51/@rem;
    }

    &-password-content span:first-child {
      border-left: 0;
    }

    &-password-content &-password-encoded {
      font-size: 0;
      position: relative;
    }

    &-password-encoded:before {
      content: "";
      width: 10/@rem;
      height: 10/@rem;
      border-radius: 50%;
      background: #333;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -5/@rem;
      margin-top: -5/@rem;
    }

  }

}
