@import "style/base/reset";

.pwd-confirm {
  &-box {
    text-align: center;
    .weui-btn{
      margin-top: 40/@__var_rem;
    }
  }

  &-desc {
    margin-top: 20/@__var_rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .weui-icon-info-circle{
      font-size: 32/@__var_rem;
    }

  }

}
