@import "style/base/reset";
.@{__var_prefix}-result-box{
  .weui-icon{
    font-size: 220/@__var_rem;
    margin-bottom: 30/@__var_rem;
    margin-top: 80/@__var_rem;
  }
  .fit-result-desc{
    padding: 30/@__var_rem;
    line-height: 40/@__var_rem;
  }
}
