@import "style/base/reset";
@import "mixins/weui.polyfill.less";
@import "style/widget/weui-cell/weui-cell_global.less";
@import "style/widget/weui-cell/weui-check/weui-check_common.less";
@import "style/widget/weui-cell/weui-check/weui-radio.less";
@import "style/widget/weui-cell/weui-cell_global.less";
.fit-select{
  width: 100%;
  .weui-cell{
    padding-left: 0;
    padding-right: 0;
    &:before{
      left: 0;
    }
  }
  &-line{
    width: 100%;
    .mixins_flex();
    justify-content: space-between;
    align-items: center;
  }
  .weui-half-screen-dialog__ft{
    padding: 50/@__var_rem;
  }
  .fit-select-item{
    padding: 22/@__var_rem 0;
  }
  .fit-select-item{
    .weui-cell__ft{
      width: 30/@__var_rem;
      padding-left: 0;
      box-sizing: border-box;
      .weui-icon-svg{
        flex-shrink: 0;
      }
    }
  }
  &-hideConfirm{
    .weui-half-screen-dialog__bd{
      padding-bottom: 32/@__var_rem;
    }
  }

}
