@import "./style/base/reset";
@import "./mixins/weui.polyfill.less";
@import "./style/widget/weui-cell/weui-switch.less";
@import "./style/widget/weui-cell/weui-cell_global.less";
.fit-select{
  width: 100%;
  .weui-cell{
    padding-left: 0;
    padding-right: 0;
    &:before{
      left: 0;
    }
  }
  &-line{
    width: 100%;
    .mixins_flex();
    justify-content: space-between;
    align-items: center;
  }
}
