@import "mixins/base";
.@{__var_prefix}-tips{
  @keyframes tips-show{
    from{
      transform: translateY(-100%);
      opacity: 0;
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes tips-ani{
    from{
      transform:translateX(100vw);
    }
    to{
      transform: translateX(-100%);
    }
  }
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 60/@__var_rem;
  left: 0;
  top: 0;
  padding-left: 30/@__var_rem;
  background: rgb(253,245,202);
  display: flex;
  animation: tips-show 300ms;
  &-inner{
    line-height: 60/@__var_rem;
    white-space: nowrap;
    padding-right: 100vw;
    animation: tips-ani 5s infinite linear;
    animation-delay: 1s;
    transform:translateX(100vw);
  }
}
