@import "style/base/reset";
@import "style/widget/weui-tips/weui-toast.less";
@import "style/icon/weui-font";
@import "mixins/weui.polyfill.less";

.weui-toast{
  width: 240/@__var_rem;
  height: 240/@__var_rem;
  margin-left: 0;
  left: 50%;
  top: 400/@__var_rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__dot_type{
    width: 260/@__var_rem;
    height: 260/@__var_rem;
  }
  .fit-icon-loading{
    width: 60/@__var_rem;
    height: 60/@__var_rem;
    margin-bottom: 22/@__var_rem;
  }
  .fit-icon-security{
    width: 81/@__var_rem;
    height: 91/@__var_rem;
    margin-bottom: 11/@__var_rem;
  }
  .fit-icon-tick{
    margin-bottom: 20/@__var_rem;
  }
  .weui-toast__content{
    margin-bottom: 45/@__var_rem;
    padding-top: 0;
    &.weui-toast__content__dot{
      margin: 0;
      margin-bottom: 38/@__var_rem;
    }
    .fit-toast-text{
      line-height: 40/@__var_rem;
      font-size: 28/@__var_rem;
    }
  }

}

@keyframes fit-morph {
  0% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
.weui-toast__dot{

  &-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46/@__var_rem;
    margin: auto;
    margin-top: 19/@__var_rem;
  }
  &{
    width: 10/@__var_rem;
    height: 10/@__var_rem;
    background:rgba(255,255,255,1);
    border-radius: 100%;
    //animation-name: dot-shrink;
    //animation-iteration-count: infinite;
    //animation-duration: 1.2s;
    &:nth-child(1){
      animation: fit-morph 1.5s ease infinite;
    }
    &:nth-child(2){
      animation: fit-morph 1.5s .3s ease infinite;
    }
    &:nth-child(3){
      animation: fit-morph 1.5s .6s ease infinite;
    }
  }
}

