@import "mixins/base";
@import "password";
@import "keyboard";
.@{__var_prefix}-container{
  // 旧代码用了100rem 只能用局部避免污染
  @rem: 100rem;
  .pwd-full-page-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    touch-action: none;
    z-index: 1;
  }
  &.password-keyboard-page{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    background-color: #F2F2F2;
  }

  &.password-keyboard-page .fit-password-content span{
    border-left: #CBCBCB 1/@rem solid;
    &:first-child{
      border-left:none;
    }
  }

  &.password-keyboard-page .fit-password-content{
    border: #CBCBCB 1/@rem solid;
  }

  &.password-keyboard-page .fit-key-board .keyboard-key:not(:last-child):before{
    right: -.01rem;
  }

  &.password-keyboard-page .fit-key-board .keyboard-ctrl,  &.password-keyboard-page .fit-key-board .keyboard-disabled{
    background-color: #e5e5e5;
  }

  &.password-keyboard-page .keyboard-key{
    &:active{
      background-color: #e5e5e5;
    }
  }

  &.password-keyboard-page .keyboard-cell{
    &:last-child{
      & .keyboard-key{
        &:last-child{
          &:active{
            background-color: #fff;
          }
        }
      }
    }
  }

  &.password-keyboard-page .pwd-full-page-container{
    position: relative;
    z-index: 2;
    height:100%;
    background-color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  &.password-keyboard-page .pwd-container{
    width: 303/@rem;
  }
  &.password-keyboard-page .main-title{
    font-family: PingFangSC-Regular;
    font-weight: 400;
    font-size: 26/@rem;
    line-height: 37/@rem;
    margin-top: 57/@rem;
    text-align: center;
  }

  &.password-keyboard-page .sub-title{
    font-family: PingFangSC-Regular;
    height:20/@rem;
    font-size:14/@rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:20/@rem;
    text-align: center;
    margin-top: 17/@rem;
  }

  &.password-keyboard-page .pwd-input {
    margin-top: 8/@rem;
  }


}


