<template>
  <i
    class="weui-icon"
    :class="iconClass"
    :style="{'width': width + 'px', 'height': height + 'px'}"
  >
  
  </i>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "FitIcon",
  components: {
    
  },
  props: {
    icon: {
      // 弹出框标题
      type: String,
      default: "info"
    },
    width: {
      type: String,
      default: "48"
    },
    height: {
      type: String,
      default: "48"
    },
    fill: {
      type: String,
      default: "blue"
    }
  },
  computed: {
    iconClass() {
      return this.icon === "loading"
        ? "weui-loading"
        : "weui-icon-" + this.icon;
    }
  }
});
</script>

