<template>
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 24C13.5 25.9327 11.9327 27.5 10 27.5C8.0673 27.5 6.5 25.9327 6.5 24C6.5 22.0666 8.0673 20.5 10 20.5C11.9327 20.5 13.5 22.0666 13.5 24ZM24 20.5C25.9327 20.5 27.5 22.0666 27.5 24C27.5 25.9327 25.9327 27.5 24 27.5C22.0673 27.5 20.5 25.9327 20.5 24C20.5 22.0666 22.0673 20.5 24 20.5ZM41.5 24C41.5 22.0666 39.9327 20.5 38 20.5C36.0673 20.5 34.5 22.0666 34.5 24C34.5 25.9327 36.0673 27.5 38 27.5C39.9327 27.5 41.5 25.9327 41.5 24Z" fill="black" fill-opacity="0.9"/>
    </svg>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import mixins from "../mixins";
@Component
export default class FitCheckbox extends Mixins(mixins) {
  @Prop({ default: "#07C160" }) fill;
  @Prop({ default: 30 }) size;
}
</script>
