<template>
    <svg :width="width" :height="height" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.01" width="48" height="48" :fill="fill"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24C44 35.0457 35.0457 44 24 44ZM22.4734 12.2715H25.5223L25.3035 27.4648H22.6922L22.4734 12.2715ZM22.2 32.4414C22.2 33.4395 22.993 34.2051 23.991 34.2051C25.0164 34.2051 25.7957 33.4395 25.7957 32.4414C25.7957 31.4434 25.0164 30.6777 23.991 30.6777C22.993 30.6777 22.2 31.4434 22.2 32.4414Z" fill="#FFC300"/>
    </svg>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import mixins from "../mixins";
@Component
export default class FitCheckbox extends Mixins(mixins) {
  @Prop({ default: "#EFEFEF" }) fill;
  @Prop({ default: 30 }) size;
  @Prop({ default: 48 }) width;
  @Prop({ default: 48 }) height;
}
</script>