<template>
  <svg
    width="21px"
    class="weui-icon-svg weui-icon-svg-height-1"
    :style="{'font-size':pxToRem(size) }"
    height="31px"
    viewBox="0 0 28 31"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
    <title>编组 5</title>
    <desc>Created with Sketch.</desc>
    <g id="香港CDD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        id="香港-CDD-3备份-6"
        transform="translate(-66.000000, -1502.000000)"
        :fill="fill"
        fill-rule="nonzero"
      >
        <g id="编组-5" transform="translate(66.000000, 1503.000000)">
          <path
            d="M7.03687471,13.5413048 L7.74207628,12.5525579 C7.80351684,12.4664135 7.92267937,12.4456464 8.00735222,12.5125176 L11.5119733,15.2803282 C11.5226527,15.2887623 11.5516544,15.2881779 11.561458,15.2797622 L19.9877823,8.04638766 C20.0649321,7.98016024 20.176154,7.98508461 20.2494138,8.05963696 L20.9419255,8.76436625 C21.0142183,8.83793454 21.0229048,8.96322646 20.9459013,9.04131501 L11.6726797,18.4451993 C11.5946043,18.5243748 11.4753596,18.5141038 11.4038796,18.4378749 L7.0558474,13.8009728 C6.99114901,13.7319761 6.97981949,13.6213006 7.03687471,13.5413048 Z"
            id="Fill-"
          />
          <path
            d="M26.0880396,3.8247993 L26.3276955,4.92945436 C26.647062,6.40152295 26.8095238,7.91188619 26.8095238,9.44202837 C26.8095238,17.7413684 21.9954008,25.1669087 14.6228176,28.6191698 L13.8095238,29 L12.99623,28.6191698 C5.62364684,25.1669087 0.80952381,17.7413684 0.80952381,9.44202837 C0.80952381,7.82477541 0.991011676,6.22977392 1.34729579,4.678964 L1.598831,3.58409814 L13.4618297,0 L14.0162214,0.167495093 L24.756787,3.41252704 L26.0880396,3.8247993 Z M24.1897066,5.26253008 L13.4618297,2.02137965 L3.2238386,5.11452378 C2.90429222,6.50542413 2.73544974,7.95398048 2.73544974,9.44202837 C2.73544974,17.1516263 7.26767388,23.8011563 13.8095238,26.864421 C20.3513737,23.8011563 24.8835979,17.1516263 24.8835979,9.44202837 C24.8835979,8.03488419 24.7326159,6.66305405 24.4459899,5.34189783 L24.1897066,5.26253008 Z"
            id="1-4备份"
          />
        </g>
      </g>
    </g>
  </svg>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import mixins from "../mixins";
@Component
export default class FitCheckbox extends Mixins(mixins) {
  @Prop({ default: "#07C160" }) public fill;
  @Prop({ default: 60 }) public size;
}
</script>
