<template>
    <svg :width="width" :height="height" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24C0 37.2548 10.7452 48 24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24ZM44 24C44 35.0457 35.0457 44 24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24Z" fill="url(#paint0_angular)"/>
        <circle opacity="0.8" cx="24" cy="2" r="2" fill="black"/>
        <defs>
            <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24 24) scale(24)">
                <stop offset="0.125" stop-color="white" stop-opacity="0.01"/>
                <stop offset="0.748455" stop-color="#5A5A5A" stop-opacity="0.6"/>
                <stop offset="0.749411" stop-color="#5F5F5F" stop-opacity="0.01"/>
            </radialGradient>
        </defs>
    </svg>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from 'vue-property-decorator';
import mixins from '../mixins';
@Component
export default class FitCheckbox extends Mixins(mixins) {
  @Prop({ default: '#000' }) fill;
  @Prop({ default: 30 }) size;
  @Prop({ default: 48 }) width;
  @Prop({ default: 48 }) height;
}
</script>
