<template>
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M48 24.2963C48 10.7449 37.2551 0 23.7037 0C10.7449 0 0 10.7449 0 24.2963C0 37.2551 10.7449 48 23.7037 48C37.2551 48 48 37.2551 48 24.2963Z" fill="black" fill-opacity="0.04"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9891 29.6066L13.3816 23.0006L11.26 25.1217L19.282 33.1419C19.6726 33.5324 20.3056 33.5324 20.6961 33.142L36.74 17.1016L34.6184 14.9805L19.9891 29.6066Z" fill="black" fill-opacity="0.3"/>
    </svg>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import mixins from "../mixins";
@Component
export default class FitCheckbox extends Mixins(mixins) {
  @Prop({ default: "#07C160" }) fill;
  @Prop({ default: 30 }) size;
}
</script>
