<template>
  <svg
    class="weui-icon-svg"
    :style="{'font-size':pxToRem(size) }"
    width="143px"
    height="121px"
    viewBox="0 0 143 121"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
    <title>编组 3备份 3</title>
    <desc>Created with Sketch.</desc>
    <defs>
      <filter
        x="-7.5%"
        y="-7.5%"
        width="115.0%"
        height="115.0%"
        filterUnits="objectBoundingBox"
        id="filter-1"
      >
        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1" />
        <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
        <feColorMatrix
          values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0"
          type="matrix"
          in="shadowBlurOuter1"
          result="shadowMatrixOuter1"
        />
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1" />
          <feMergeNode in="SourceGraphic" />
        </feMerge>
      </filter>
      <rect id="path-2" x="0" y="0" width="160" height="160" />
      <path
        d="M121.613926,85.7399103 C112.726775,104.89292 93.3251657,118.175503 70.8212425,118.175503 C48.3173193,118.175503 28.9157096,104.89292 20.0285587,85.7399103 M20.1675366,38.3856502 C29.1168137,19.3925696 48.4339013,6.2472515 70.8212425,6.2472515 L70.8212425,6.2472515 C93.2085837,6.2472515 112.525671,19.3925696 121.474947,38.3856502"
        id="path-4"
      />
      <mask
        id="mask-5"
        maskContentUnits="userSpaceOnUse"
        maskUnits="objectBoundingBox"
        x="0"
        y="0"
        width="101.585368"
        height="111.928251"
        fill="white"
      >
        <use xlink:href="#path-4" />
      </mask>
    </defs>
    <g id="香港CDD" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="香港-CDD-" transform="translate(-451.000000, -846.000000)">
        <g id="编组-8" transform="translate(160.000000, 689.000000)">
          <g id="编组-3备份-3" filter="url(#filter-1)" transform="translate(270.000000, 112.000000)">
            <mask id="mask-3" fill="white">
              <use xlink:href="#path-2" />
            </mask>
            <use id="蒙版" fill="#D8D8D8" opacity="0" xlink:href="#path-2" />
            <g id="编组-2" mask="url(#mask-3)">
              <g
                transform="translate(97.154729, 110.682859) rotate(-25.000000) translate(-97.154729, -110.682859) translate(26.654729, 48.682859)"
              >
                <g
                  id="编组-2备份"
                  stroke="none"
                  stroke-width="1"
                  fill="none"
                  fill-rule="evenodd"
                  transform="translate(11.218561, 0.000000)"
                >
                  <path
                    d="M117.561438,41.925923 C109.317831,17.5485161 86.2559235,2.84217094e-13 59.0953402,2.84217094e-13 C31.631413,2.84217094e-13 8.35822497,17.9426875 0.358595378,42.7452434 M0.902338337,82.271926 C9.37296011,106.23768 32.2289703,123.408072 59.0953402,123.408072 C85.8783583,123.408072 108.675862,106.344056 117.209088,82.494788"
                    id="形状"
                    stroke="#F43530"
                    stroke-width="3"
                  />
                </g>
                <rect
                  id="矩形"
                  stroke="#F43530"
                  stroke-width="3"
                  fill="none"
                  x="1.5"
                  y="42.396861"
                  width="137.627803"
                  height="39.3318386"
                  rx="4"
                />
                <use
                  id="形状"
                  stroke="#F43530"
                  mask="url(#mask-5)"
                  stroke-width="8"
                  fill="none"
                  stroke-dasharray="2 4"
                  xlink:href="#path-4"
                />
                <path
                  d="M19.5312285,50.3348889 L20.4204451,50.7595894 C20.1019198,51.7417092 19.717035,52.6574696 19.2525189,53.5334143 L19.2525189,62.6113866 L18.2836709,62.6113866 L18.2836709,55.0862253 C17.8589705,55.6834604 17.3944543,56.2541516 16.8901225,56.7982991 L16.5848691,55.8161793 C17.9386018,54.2235525 18.9207216,52.3920318 19.5312285,50.3348889 Z M28.237588,62.5848429 C26.8307677,61.602723 25.6628414,60.5542438 24.7338092,59.4394051 C23.6986018,60.7135064 22.4377723,61.7619857 20.9645926,62.5981147 L20.31427,61.8018014 C21.8405373,60.9789442 23.1013668,59.930465 24.1100304,58.6563636 C22.6899382,56.7186677 21.880353,54.5553498 21.6680027,52.1664097 L20.9778645,52.1664097 L20.9778645,51.2506493 L27.8394313,51.2506493 L27.8394313,52.1000502 C27.3881871,54.6880687 26.5387861,56.8912023 25.2912285,58.6961793 C26.2468046,59.8375617 27.4545465,60.8727691 28.8879106,61.8150733 L28.237588,62.5848429 Z M24.6674497,57.8998659 C25.7424728,56.2939673 26.4724267,54.3828152 26.8705834,52.1664097 L22.5704912,52.1664097 C22.7562977,54.289912 23.4464359,56.201064 24.6674497,57.8998659 Z M34.4311364,55.0464097 L34.4311364,57.3689903 L37.8021963,57.3689903 L37.8021963,55.0464097 L34.4311364,55.0464097 Z M34.3780488,58.244935 C34.232058,59.9437369 33.7409981,61.3505571 32.8915972,62.4653958 L32.1616433,61.8150733 C33.0110442,60.6338751 33.4490166,59.1341516 33.4755603,57.3159028 L33.4755603,50.9453958 L43.3631179,50.9453958 L43.3631179,60.886041 C43.3631179,61.8150733 42.8986018,62.2795894 41.9695695,62.2795894 L40.4433023,62.2795894 L40.1911364,61.3372852 C40.7220119,61.363829 41.2130719,61.3903728 41.6643161,61.3903728 C42.1421041,61.3903728 42.39427,61.1116631 42.39427,60.5542438 L42.39427,58.244935 L38.7843161,58.244935 L38.7843161,62.1335986 L37.8021963,62.1335986 L37.8021963,58.244935 L34.3780488,58.244935 Z M42.39427,57.3689903 L42.39427,55.0464097 L38.7843161,55.0464097 L38.7843161,57.3689903 L42.39427,57.3689903 Z M42.39427,54.1571931 L42.39427,51.8744281 L38.7843161,51.8744281 L38.7843161,54.1571931 L42.39427,54.1571931 Z M37.8021963,51.8744281 L34.4311364,51.8744281 L34.4311364,54.1571931 L37.8021963,54.1571931 L37.8021963,51.8744281 Z M48.6939935,50.932124 L58.6611825,50.932124 L58.6611825,51.8611562 L54.3212746,51.8611562 L54.3212746,55.4711101 L59.5902147,55.4711101 L59.5902147,56.4266862 L54.3212746,56.4266862 L54.3212746,61.1382069 C54.3212746,62.0008797 53.8700304,62.4388521 52.9808138,62.4388521 L50.910399,62.4388521 L50.7113207,61.5230917 C51.3881871,61.5496355 52.0385096,61.5761793 52.6490166,61.5761793 C53.1135327,61.5761793 53.3524267,61.3505571 53.3524267,60.8993129 L53.3524267,56.4266862 L47.8578645,56.4266862 L47.8578645,55.4711101 L53.3524267,55.4711101 L53.3524267,51.8611562 L48.6939935,51.8611562 L48.6939935,50.932124 Z M68.3054221,50.2818014 L69.3008138,50.4145203 C69.1946387,50.812677 69.0619198,51.1842899 68.9026571,51.529359 L72.7913207,51.529359 L72.7913207,57.3822622 C73.4814589,56.6124926 73.9857907,55.8029074 74.317588,54.9800502 L75.1404451,55.4976539 C74.5033944,56.7186677 73.720353,57.767147 72.7913207,58.6298198 L72.7913207,61.4567323 C72.7913207,62.2265018 72.4329797,62.6113866 71.7428414,62.6113866 L70.3227493,62.6113866 L70.0705834,61.6956263 L71.437588,61.7354419 C71.7030258,61.7354419 71.8490166,61.5629074 71.8490166,61.244382 L71.8490166,59.4128613 C71.557035,59.6252115 71.2783253,59.8242899 70.9863437,60.0100963 C69.1680949,61.0851193 66.8853299,61.8548889 64.1513207,62.332677 L63.7266202,61.4700041 C67.1905834,60.8594972 69.6856986,59.9702806 71.2252378,58.8156263 L71.4110442,58.6696355 L63.6469889,58.6696355 L63.6469889,57.7936908 L65.2396156,57.7936908 L65.2396156,51.529359 L67.9072654,51.529359 C68.0798,51.1312023 68.2125189,50.7065018 68.3054221,50.2818014 Z M66.1951917,57.7936908 L71.8490166,57.7936908 L71.8490166,56.4532299 L66.1951917,56.4532299 L66.1951917,57.7936908 Z M66.1951917,55.6303728 L71.8490166,55.6303728 L71.8490166,54.4359028 L66.1951917,54.4359028 L66.1951917,55.6303728 Z M66.1951917,53.6263175 L71.8490166,53.6263175 L71.8490166,52.3787599 L66.1951917,52.3787599 L66.1951917,53.6263175 Z M84.8377723,56.5328613 L83.1787861,56.5328613 L83.1787861,55.603829 L89.0449613,55.603829 C89.0449613,58.4174696 88.9786018,60.1560871 88.8458829,60.8329535 C88.7397078,61.8681608 88.1955603,62.3857645 87.2267124,62.3857645 C86.9480027,62.3857645 86.4834866,62.3724926 85.8198921,62.3459488 L85.59427,61.4434604 C86.1649613,61.4700041 86.6560212,61.4965479 87.0807216,61.4965479 C87.5850534,61.4965479 87.8637631,61.1382069 87.9433944,60.4347968 C88.0230258,60.0100963 88.0761133,58.7094511 88.1026571,56.5328613 L85.7800765,56.5328613 C85.5544543,57.9927691 85.2492009,59.1474235 84.8510442,59.9968244 C84.3732562,60.9258567 83.669846,61.7752576 82.7275419,62.5184834 L82.117035,61.7354419 C82.9398921,61.0851193 83.5636709,60.3684373 83.9883714,59.572124 C84.3599843,58.8023544 84.6519659,57.7804189 84.8377723,56.5328613 Z M81.6259751,50.4012484 L82.5019198,50.7994051 C82.1568507,51.8080687 81.7321502,52.7503728 81.2145465,53.6528613 L81.2145465,62.6113866 L80.2324267,62.6113866 L80.2324267,55.126041 C79.7944543,55.7100041 79.3166663,56.2674235 78.7990626,56.7982991 L78.4938092,55.8029074 C79.9271732,54.2368244 80.9623806,52.4318475 81.6259751,50.4012484 Z M84.519247,50.5472392 L85.3951917,50.8923083 C84.6254221,53.1618014 83.6167585,54.887147 82.3692009,56.081617 L81.6259751,55.4445664 C82.9000765,54.2368244 83.8689244,52.604382 84.519247,50.5472392 Z M87.6646848,50.3879765 C88.2486479,52.3256723 89.2838553,53.9050272 90.757035,55.1393129 L90.1199843,55.8825387 C88.5539013,54.5818935 87.4656064,52.8963636 86.8550995,50.8392207 L87.6646848,50.3879765 Z M101.861182,50.4808797 L102.843302,50.4808797 C102.843302,51.5957184 102.803487,52.6441977 102.723855,53.5997737 C103.427265,56.9973774 104.648279,59.7048429 106.386897,61.6956263 L105.696758,62.4919396 C104.276666,60.6869627 103.201643,58.4572852 102.458417,55.8294511 C102.392058,56.201064 102.325699,56.5461332 102.259339,56.8912023 C101.755007,59.1739673 100.626897,61.0585756 98.8617354,62.5184834 L98.2114129,61.7354419 C99.750952,60.4347968 100.786159,58.8023544 101.290491,56.8248429 C101.662104,55.1658567 101.861182,53.0556263 101.861182,50.4808797 Z M95.6897539,50.5472392 C96.5922424,51.2241055 97.3487401,51.9009719 97.959247,52.5911101 L97.3089244,53.2547046 C96.751505,52.604382 95.9817354,51.9142438 95.0261594,51.1975617 L95.6897539,50.5472392 Z M94.1369428,54.4757184 L97.0036709,54.4757184 L97.0036709,60.2755341 C97.4814589,59.8773774 97.9990626,59.4261332 98.5432101,58.9085295 L98.7821041,59.8906493 C97.959247,60.6736908 97.0833023,61.3771009 96.15427,61.9876078 L95.7826571,61.1382069 C95.9817354,60.9789442 96.0879106,60.7798659 96.0879106,60.5675157 L96.0879106,55.3914788 L94.1369428,55.3914788 L94.1369428,54.4757184 Z M117.836113,51.9806032 L114.106712,51.9806032 L114.106712,51.0382991 L121.552242,51.0382991 L121.552242,51.9806032 L118.804961,51.9806032 L118.804961,55.7100041 L121.366436,55.7100041 L121.366436,56.5992207 L118.804961,56.5992207 L118.804961,61.1912945 L121.81768,61.1912945 L121.81768,62.1335986 L113.695284,62.1335986 L113.695284,61.1912945 L115.049017,61.1912945 L115.049017,54.170465 L115.978049,54.170465 L115.978049,61.1912945 L117.836113,61.1912945 L117.836113,51.9806032 Z M111.226712,50.5472392 C112.089385,51.2373774 112.819339,51.9142438 113.416574,52.5911101 L112.766252,53.2547046 C112.222104,52.5911101 111.49215,51.9009719 110.563118,51.171018 L111.226712,50.5472392 Z M109.607542,54.4757184 L112.447726,54.4757184 L112.447726,60.2091746 C112.872427,59.8375617 113.323671,59.4128613 113.814731,58.9350733 L114.066897,59.9570088 C113.297127,60.7002346 112.487542,61.3771009 111.624869,61.9743359 L111.253256,61.1116631 C111.439063,60.9524005 111.531966,60.766594 111.531966,60.5542438 L111.531966,55.3914788 L109.607542,55.3914788 L109.607542,54.4757184 Z"
                  id="仅用于身份认证"
                  stroke="none"
                  fill="#E64340"
                  fill-rule="nonzero"
                />
                <path
                  d="M11.325549,67.1547108 C12.3415858,67.1547108 13.1563324,67.4901947 13.7506181,68.1803329 C14.3065628,68.8321302 14.5941204,69.6756325 14.5941204,70.7204251 C14.5941204,71.7556325 14.3065628,72.5895495 13.7506181,73.2413467 C13.1563324,73.9218997 12.3415858,74.2669689 11.3159637,74.2669689 C10.2903416,74.2669689 9.4851803,73.9218997 8.89089459,73.2413467 C8.32536463,72.5895495 8.04739228,71.7460472 8.04739228,70.7204251 C8.04739228,69.6852177 8.32536463,68.8417154 8.89089459,68.1899182 C9.4851803,67.4997799 10.2903416,67.1547108 11.325549,67.1547108 Z M11.325549,67.8544343 C10.5395582,67.8544343 9.91651671,68.1228214 9.4660098,68.6691808 C9.04425864,69.1867845 8.83338307,69.8673375 8.83338307,70.7204251 C8.83338307,71.5639274 9.04425864,72.2444804 9.4660098,72.7620841 C9.90693145,73.2988583 10.5299729,73.5672454 11.3159637,73.5672454 C12.1019545,73.5672454 12.724996,73.2988583 13.1659176,72.7812546 C13.5876688,72.2636509 13.8081296,71.5830979 13.8081296,70.7204251 C13.8081296,69.848167 13.5876688,69.1580288 13.1659176,68.6404251 C12.724996,68.1132361 12.1115397,67.8544343 11.325549,67.8544343 Z M17.9106181,69.0430057 C19.1375305,69.0430057 19.760572,69.7235587 19.760572,71.0846647 L19.760572,74.1327753 L18.9937517,74.1327753 L18.9937517,71.1421762 C18.9937517,70.1740656 18.5528301,69.694803 17.6901573,69.694803 C17.3450881,69.694803 17.0479453,69.8194113 16.7987287,70.0686279 C16.5303416,70.3370149 16.3865628,70.6916693 16.357807,71.1421762 L16.357807,74.1327753 L15.5909868,74.1327753 L15.5909868,69.1771993 L16.357807,69.1771993 L16.357807,69.9056785 C16.5303416,69.6277062 16.7508024,69.4168306 17.0191895,69.2730518 C17.2875766,69.1196878 17.5847195,69.0430057 17.9106181,69.0430057 Z M21.1025075,67.1547108 L21.8597425,67.1547108 L21.8597425,74.1327753 L21.1025075,74.1327753 L21.1025075,67.1547108 Z M22.6553186,69.1771993 L23.4892356,69.1771993 L25.0037056,73.0879827 L26.4702494,69.1771993 L27.3137517,69.1771993 L24.601125,76.0306555 L23.767208,76.0306555 L24.6202955,74.0177523 L22.6553186,69.1771993 Z M31.2437056,67.2889044 L35.8254568,67.2889044 L35.8254568,67.9694573 L32.0296964,67.9694573 L32.0296964,70.2699182 L35.6241665,70.2699182 L35.6241665,70.9504712 L32.0296964,70.9504712 L32.0296964,74.1327753 L31.2437056,74.1327753 L31.2437056,67.2889044 Z M38.8927379,69.0430057 C39.6308024,69.0430057 40.2250881,69.2922223 40.6660098,69.809826 C41.0877609,70.2986739 41.2986365,70.9121302 41.2986365,71.6597799 C41.2986365,72.3978444 41.0877609,73.0113007 40.675595,73.4905633 C40.2250881,74.008167 39.6308024,74.2669689 38.8927379,74.2669689 C38.1450881,74.2669689 37.5603877,74.008167 37.119466,73.4905633 C36.6977149,73.0113007 36.4868393,72.3978444 36.4868393,71.6597799 C36.4868393,70.9121302 36.6977149,70.2986739 37.119466,69.809826 C37.5603877,69.2922223 38.1450881,69.0430057 38.8927379,69.0430057 Z M38.8927379,69.6852177 C38.365549,69.6852177 37.9533831,69.886508 37.6658255,70.2890887 C37.3974384,70.6533283 37.2728301,71.1038352 37.2728301,71.6597799 C37.2728301,72.2061394 37.3974384,72.6566463 37.6658255,73.0208859 C37.9533831,73.4234666 38.365549,73.6247569 38.8927379,73.6247569 C39.4103416,73.6247569 39.8225075,73.4234666 40.1292356,73.0208859 C40.3880374,72.6566463 40.522231,72.1965541 40.522231,71.6597799 C40.522231,71.1038352 40.3880374,70.6533283 40.1292356,70.2890887 C39.8225075,69.886508 39.4103416,69.6852177 38.8927379,69.6852177 Z M44.4713554,69.0430057 C44.7397425,69.0430057 44.9697886,69.0813467 45.1519084,69.1580288 L45.1519084,69.9248491 C44.9026918,69.848167 44.6534752,69.8194113 44.4138439,69.8194113 C44.0304338,69.8194113 43.7045351,69.9823606 43.4457333,70.3274297 C43.1773462,70.6533283 43.0527379,71.0463237 43.0527379,71.5064159 L43.0527379,74.1327753 L42.2955029,74.1327753 L42.2955029,69.1771993 L43.0527379,69.1771993 L43.0527379,70.0398721 C43.1869315,69.7523145 43.359466,69.5222684 43.5703416,69.3593191 C43.8291434,69.1484435 44.1262863,69.0430057 44.4713554,69.0430057 Z M49.1393739,67.2889044 L49.9157794,67.2889044 L49.9157794,74.1327753 L49.1393739,74.1327753 L49.1393739,67.2889044 Z M54.9192817,67.1547108 L55.686102,67.1547108 L55.686102,74.1327753 L54.967208,74.1327753 L54.967208,73.3180288 C54.6221388,73.9506555 54.0661941,74.2669689 53.3185444,74.2669689 C52.5900651,74.2669689 52.0245351,73.9985818 51.6219545,73.4809781 C51.2481296,73.0017154 51.0660098,72.3882592 51.0660098,71.6406094 C51.0660098,70.9121302 51.2481296,70.3178444 51.6219545,69.8385818 C52.0245351,69.3018076 52.5708946,69.0430057 53.2802033,69.0430057 C53.9895121,69.0430057 54.5358715,69.3880749 54.9192817,70.0877984 L54.9192817,67.1547108 Z M53.4431527,69.6756325 C52.8967932,69.6756325 52.4846273,69.8673375 52.2162402,70.2507477 C51.9670236,70.5862315 51.8520006,71.0463237 51.8520006,71.6406094 C51.8520006,72.2348951 51.9670236,72.7045726 52.206655,73.0496417 C52.4750421,73.4330518 52.8776227,73.6343421 53.4143969,73.6343421 C53.9128301,73.6343421 54.2962402,73.4426371 54.5742126,73.0592269 C54.8138439,72.7141578 54.9384522,72.2636509 54.9384522,71.7077062 L54.9384522,71.6118537 C54.9384522,71.0367385 54.7946734,70.567061 54.5262863,70.2124067 C54.2483139,69.848167 53.8840743,69.6756325 53.4431527,69.6756325 Z M58.9163324,69.0430057 C59.7119084,69.0430057 60.3157794,69.3113928 60.71836,69.848167 C61.0825997,70.3274297 61.2743047,71.0079827 61.2934752,71.8706555 L57.3826918,71.8706555 C57.4210328,72.4266002 57.5648116,72.8579366 57.8331987,73.1646647 C58.1015858,73.4713928 58.4754107,73.6247569 58.9450881,73.6247569 C59.3476688,73.6247569 59.6831527,73.5193191 59.9323692,73.3180288 C60.1432448,73.1454942 60.3061941,72.8866924 60.4308024,72.5416232 L61.1976227,72.5416232 C61.0825997,73.0208859 60.8621388,73.4042961 60.526655,73.7110242 C60.1144891,74.0752638 59.5873001,74.2669689 58.9450881,74.2669689 C58.2357794,74.2669689 57.6606642,74.0273375 57.238913,73.5672454 C56.7979914,73.0879827 56.5871158,72.455356 56.5871158,71.6501947 C56.5871158,70.9217154 56.7884061,70.3082592 57.2101573,69.8194113 C57.6319084,69.3018076 58.1974384,69.0430057 58.9163324,69.0430057 Z M58.9355029,69.6852177 C58.4945812,69.6852177 58.1399268,69.8289965 57.8715397,70.1165541 C57.6031527,70.4041117 57.4497886,70.7875219 57.4018623,71.2763698 L60.4978992,71.2763698 C60.4020467,70.2124067 59.8748577,69.6852177 58.9355029,69.6852177 Z M64.5141204,69.0430057 C65.7410328,69.0430057 66.3640743,69.7235587 66.3640743,71.0846647 L66.3640743,74.1327753 L65.597254,74.1327753 L65.597254,71.1421762 C65.597254,70.1740656 65.1563324,69.694803 64.2936596,69.694803 C63.9485904,69.694803 63.6514476,69.8194113 63.402231,70.0686279 C63.1338439,70.3370149 62.9900651,70.6916693 62.9613093,71.1421762 L62.9613093,74.1327753 L62.1944891,74.1327753 L62.1944891,69.1771993 L62.9613093,69.1771993 L62.9613093,69.9056785 C63.1338439,69.6277062 63.3543047,69.4168306 63.6226918,69.2730518 C63.8910789,69.1196878 64.1882218,69.0430057 64.5141204,69.0430057 Z M68.8754107,67.576462 L68.8754107,69.1771993 L70.1023232,69.1771993 L70.1023232,69.8194113 L68.8754107,69.8194113 L68.8754107,72.9729597 C68.8754107,73.1550795 68.9041665,73.289273 68.9808485,73.365955 C69.0479453,73.4426371 69.1725536,73.4905633 69.3450881,73.4905633 L69.9777149,73.4905633 L69.9777149,74.1327753 L69.2300651,74.1327753 C68.8274844,74.1327753 68.5303416,74.0273375 68.357807,73.816462 C68.1948577,73.6247569 68.1181757,73.3467845 68.1181757,72.9729597 L68.1181757,69.8194113 L67.1213093,69.8194113 L67.1213093,69.1771993 L68.1181757,69.1771993 L68.1181757,67.8927753 L68.8754107,67.576462 Z M71.5880374,67.3080749 C71.7509868,67.3080749 71.8851803,67.3560011 72.0002033,67.4710242 C72.1152264,67.5668767 72.1727379,67.7010702 72.1727379,67.8736048 C72.1727379,68.0365541 72.1152264,68.1707477 72.0002033,68.2857707 C71.8851803,68.3912085 71.7509868,68.44872 71.5880374,68.44872 C71.4250881,68.44872 71.2908946,68.3912085 71.1758715,68.2857707 C71.0608485,68.1707477 71.0129222,68.0365541 71.0129222,67.8736048 C71.0129222,67.7010702 71.0608485,67.5668767 71.1758715,67.4710242 C71.2908946,67.3560011 71.4250881,67.3080749 71.5880374,67.3080749 Z M71.2046273,69.1771993 L71.9714476,69.1771993 L71.9714476,74.1327753 L71.2046273,74.1327753 L71.2046273,69.1771993 Z M74.7320006,67.576462 L74.7320006,69.1771993 L75.958913,69.1771993 L75.958913,69.8194113 L74.7320006,69.8194113 L74.7320006,72.9729597 C74.7320006,73.1550795 74.7607563,73.289273 74.8374384,73.365955 C74.9045351,73.4426371 75.0291434,73.4905633 75.201678,73.4905633 L75.8343047,73.4905633 L75.8343047,74.1327753 L75.086655,74.1327753 C74.6840743,74.1327753 74.3869315,74.0273375 74.2143969,73.816462 C74.0514476,73.6247569 73.9747656,73.3467845 73.9747656,72.9729597 L73.9747656,69.8194113 L72.9778992,69.8194113 L72.9778992,69.1771993 L73.9747656,69.1771993 L73.9747656,67.8927753 L74.7320006,67.576462 Z M76.2656411,69.1771993 L77.0995582,69.1771993 L78.6140282,73.0879827 L80.080572,69.1771993 L80.9240743,69.1771993 L78.2114476,76.0306555 L77.3775305,76.0306555 L78.2306181,74.0177523 L76.2656411,69.1771993 Z M84.2118162,67.2889044 L85.0744891,67.2889044 L87.2120006,73.2796878 L87.2407563,73.2796878 L89.3782679,67.2889044 L90.2409407,67.2889044 L87.7104338,74.1327753 L86.7423232,74.1327753 L84.2118162,67.2889044 Z M92.9248116,69.0430057 C93.7203877,69.0430057 94.3242586,69.3113928 94.7268393,69.848167 C95.0910789,70.3274297 95.282784,71.0079827 95.3019545,71.8706555 L91.3911711,71.8706555 C91.4295121,72.4266002 91.5732909,72.8579366 91.841678,73.1646647 C92.1100651,73.4713928 92.48389,73.6247569 92.9535674,73.6247569 C93.356148,73.6247569 93.6916319,73.5193191 93.9408485,73.3180288 C94.1517241,73.1454942 94.3146734,72.8866924 94.4392817,72.5416232 L95.206102,72.5416232 C95.0910789,73.0208859 94.8706181,73.4042961 94.5351342,73.7110242 C94.1229683,74.0752638 93.5957794,74.2669689 92.9535674,74.2669689 C92.2442586,74.2669689 91.6691434,74.0273375 91.2473923,73.5672454 C90.8064706,73.0879827 90.595595,72.455356 90.595595,71.6501947 C90.595595,70.9217154 90.7968854,70.3082592 91.2186365,69.8194113 C91.6403877,69.3018076 92.2059176,69.0430057 92.9248116,69.0430057 Z M92.9439821,69.6852177 C92.5030605,69.6852177 92.1484061,69.8289965 91.880019,70.1165541 C91.6116319,70.4041117 91.4582679,70.7875219 91.4103416,71.2763698 L94.5063785,71.2763698 C94.4105259,70.2124067 93.883337,69.6852177 92.9439821,69.6852177 Z M98.3788209,69.0430057 C98.647208,69.0430057 98.877254,69.0813467 99.0593739,69.1580288 L99.0593739,69.9248491 C98.8101573,69.848167 98.5609407,69.8194113 98.3213093,69.8194113 C97.9378992,69.8194113 97.6120006,69.9823606 97.3531987,70.3274297 C97.0848116,70.6533283 96.9602033,71.0463237 96.9602033,71.5064159 L96.9602033,74.1327753 L96.2029683,74.1327753 L96.2029683,69.1771993 L96.9602033,69.1771993 L96.9602033,70.0398721 C97.0943969,69.7523145 97.2669315,69.5222684 97.477807,69.3593191 C97.7366089,69.1484435 98.0337517,69.0430057 98.3788209,69.0430057 Z M100.334213,67.3080749 C100.497162,67.3080749 100.631355,67.3560011 100.746378,67.4710242 C100.861402,67.5668767 100.918913,67.7010702 100.918913,67.8736048 C100.918913,68.0365541 100.861402,68.1707477 100.746378,68.2857707 C100.631355,68.3912085 100.497162,68.44872 100.334213,68.44872 C100.171263,68.44872 100.03707,68.3912085 99.9220467,68.2857707 C99.8070236,68.1707477 99.7590974,68.0365541 99.7590974,67.8736048 C99.7590974,67.7010702 99.8070236,67.5668767 99.9220467,67.4710242 C100.03707,67.3560011 100.171263,67.3080749 100.334213,67.3080749 Z M99.9508024,69.1771993 L100.717623,69.1771993 L100.717623,74.1327753 L99.9508024,74.1327753 L99.9508024,69.1771993 Z M102.308775,67.1547108 L103.06601,67.1547108 L103.06601,74.1327753 L102.308775,74.1327753 L102.308775,67.1547108 Z M105.040572,67.3080749 C105.203521,67.3080749 105.337715,67.3560011 105.452738,67.4710242 C105.567761,67.5668767 105.625272,67.7010702 105.625272,67.8736048 C105.625272,68.0365541 105.567761,68.1707477 105.452738,68.2857707 C105.337715,68.3912085 105.203521,68.44872 105.040572,68.44872 C104.877623,68.44872 104.743429,68.3912085 104.628406,68.2857707 C104.513383,68.1707477 104.465457,68.0365541 104.465457,67.8736048 C104.465457,67.7010702 104.513383,67.5668767 104.628406,67.4710242 C104.743429,67.3560011 104.877623,67.3080749 105.040572,67.3080749 Z M104.657162,69.1771993 L105.423982,69.1771993 L105.423982,74.1327753 L104.657162,74.1327753 L104.657162,69.1771993 Z M109.018452,69.0430057 C109.727761,69.0430057 110.245365,69.2251255 110.590434,69.5989504 C110.877991,69.9248491 111.031355,70.375356 111.031355,70.9504712 L111.031355,74.1327753 L110.312461,74.1327753 L110.312461,73.2988583 C110.120756,73.5672454 109.861954,73.7877062 109.555226,73.9602408 C109.190987,74.1615311 108.778821,74.2669689 108.318729,74.2669689 C107.820296,74.2669689 107.4273,74.1423606 107.130157,73.893144 C106.823429,73.6343421 106.670065,73.2988583 106.670065,72.8962776 C106.670065,72.3307477 106.890526,71.9089965 107.350618,71.6214389 C107.753199,71.3530518 108.328314,71.209273 109.075964,71.1996878 L110.264535,71.1805173 L110.264535,70.9217154 C110.264535,70.0877984 109.833199,69.6756325 108.970526,69.6756325 C108.606286,69.6756325 108.309143,69.7427292 108.079097,69.8960933 C107.820296,70.0494573 107.657346,70.2890887 107.580664,70.605402 L106.823429,70.5478905 C106.928867,70.0302868 107.187669,69.6372914 107.590249,69.3880749 C107.954489,69.1580288 108.424166,69.0430057 109.018452,69.0430057 Z M110.264535,71.7556325 L109.12389,71.774803 C108.012001,71.7939735 107.456056,72.1582131 107.456056,72.8771071 C107.456056,73.1071532 107.542323,73.289273 107.734028,73.4426371 C107.925733,73.5864159 108.17495,73.6630979 108.481678,73.6630979 C108.951355,73.6630979 109.363521,73.5097338 109.727761,73.2030057 C110.082415,72.9058629 110.264535,72.5607938 110.264535,72.1773836 L110.264535,71.7556325 Z M114.357438,69.0430057 C114.970895,69.0430057 115.459743,69.1867845 115.833567,69.4743421 C116.216978,69.771485 116.447024,70.2219919 116.533291,70.8258629 L115.776056,70.8258629 C115.708959,70.4424527 115.555595,70.1548951 115.315964,69.9631901 C115.066747,69.771485 114.750434,69.6852177 114.357438,69.6852177 C113.878176,69.6852177 113.494766,69.8673375 113.216793,70.2315772 C112.948406,70.5862315 112.814213,71.0654942 112.814213,71.6693652 C112.814213,72.2732361 112.938821,72.7524988 113.207208,73.0975679 C113.46601,73.4426371 113.84942,73.6247569 114.347853,73.6247569 C115.191355,73.6247569 115.680203,73.1934205 115.795226,72.3403329 L116.562047,72.3403329 C116.447024,72.9729597 116.207392,73.4618076 115.823982,73.7877062 C115.450157,74.1040196 114.961309,74.2669689 114.347853,74.2669689 C113.600203,74.2669689 113.025088,74.0177523 112.612922,73.5193191 C112.219927,73.0496417 112.028222,72.4361855 112.028222,71.6789504 C112.028222,70.9217154 112.219927,70.3082592 112.612922,69.8289965 C113.034673,69.3018076 113.619374,69.0430057 114.357438,69.0430057 Z M118.785825,67.576462 L118.785825,69.1771993 L120.012738,69.1771993 L120.012738,69.8194113 L118.785825,69.8194113 L118.785825,72.9729597 C118.785825,73.1550795 118.814581,73.289273 118.891263,73.365955 C118.95836,73.4426371 119.082968,73.4905633 119.255503,73.4905633 L119.88813,73.4905633 L119.88813,74.1327753 L119.14048,74.1327753 C118.737899,74.1327753 118.440756,74.0273375 118.268222,73.816462 C118.105272,73.6247569 118.02859,73.3467845 118.02859,72.9729597 L118.02859,69.8194113 L117.031724,69.8194113 L117.031724,69.1771993 L118.02859,69.1771993 L118.02859,67.8927753 L118.785825,67.576462 Z M121.498452,67.3080749 C121.661402,67.3080749 121.795595,67.3560011 121.910618,67.4710242 C122.025641,67.5668767 122.083153,67.7010702 122.083153,67.8736048 C122.083153,68.0365541 122.025641,68.1707477 121.910618,68.2857707 C121.795595,68.3912085 121.661402,68.44872 121.498452,68.44872 C121.335503,68.44872 121.201309,68.3912085 121.086286,68.2857707 C120.971263,68.1707477 120.923337,68.0365541 120.923337,67.8736048 C120.923337,67.7010702 120.971263,67.5668767 121.086286,67.4710242 C121.201309,67.3560011 121.335503,67.3080749 121.498452,67.3080749 Z M121.115042,69.1771993 L121.881862,69.1771993 L121.881862,74.1327753 L121.115042,74.1327753 L121.115042,69.1771993 Z M125.533844,69.0430057 C126.271908,69.0430057 126.866194,69.2922223 127.307116,69.809826 C127.728867,70.2986739 127.939743,70.9121302 127.939743,71.6597799 C127.939743,72.3978444 127.728867,73.0113007 127.316701,73.4905633 C126.866194,74.008167 126.271908,74.2669689 125.533844,74.2669689 C124.786194,74.2669689 124.201494,74.008167 123.760572,73.4905633 C123.338821,73.0113007 123.127945,72.3978444 123.127945,71.6597799 C123.127945,70.9121302 123.338821,70.2986739 123.760572,69.809826 C124.201494,69.2922223 124.786194,69.0430057 125.533844,69.0430057 Z M125.533844,69.6852177 C125.006655,69.6852177 124.594489,69.886508 124.306931,70.2890887 C124.038544,70.6533283 123.913936,71.1038352 123.913936,71.6597799 C123.913936,72.2061394 124.038544,72.6566463 124.306931,73.0208859 C124.594489,73.4234666 125.006655,73.6247569 125.533844,73.6247569 C126.051448,73.6247569 126.463613,73.4234666 126.770342,73.0208859 C127.029143,72.6566463 127.163337,72.1965541 127.163337,71.6597799 C127.163337,71.1038352 127.029143,70.6533283 126.770342,70.2890887 C126.463613,69.886508 126.051448,69.6852177 125.533844,69.6852177 Z M131.25624,69.0430057 C132.483153,69.0430057 133.106194,69.7235587 133.106194,71.0846647 L133.106194,74.1327753 L132.339374,74.1327753 L132.339374,71.1421762 C132.339374,70.1740656 131.898452,69.694803 131.035779,69.694803 C130.69071,69.694803 130.393567,69.8194113 130.144351,70.0686279 C129.875964,70.3370149 129.732185,70.6916693 129.703429,71.1421762 L129.703429,74.1327753 L128.936609,74.1327753 L128.936609,69.1771993 L129.703429,69.1771993 L129.703429,69.9056785 C129.875964,69.6277062 130.096425,69.4168306 130.364812,69.2730518 C130.633199,69.1196878 130.930342,69.0430057 131.25624,69.0430057 Z"
                  id="OnlyForIdentityVeriliaction"
                  stroke="none"
                  fill="#F43530"
                  fill-rule="nonzero"
                />
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>
<script lang="ts">
import { Component, Mixins, Prop } from "vue-property-decorator";
import mixins from "../mixins";
@Component
export default class FitCheckbox extends Mixins(mixins) {
  @Prop({ default: "#ffffff" }) fill;
  @Prop({ default: 36 }) size;
}
</script>
