<template>
  <a
    href="javascript:;"
    @click="click"
    class="weui-btn"
    :class="['weui-btn_'+type,{'weui-btn_disabled':disabled}]"
  >
    <slot></slot>
  </a>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "FitButton",
  props: {
    type: {
      default: "primary"
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    click() {
      if (this.disabled || this.type === "disabled") {
        return;
      }
      this.$emit("click");
    }
  }
});
</script>
