<template>
  <div>
    <h1 @click="onClick">测222试{{message}}</h1>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default class MyComponent extends Vue {
  // 初始数据可以直接声明为实例的属性
  public message: string = "Hello!";

  // 组件方法也可以直接声明为实例的方法
  public onClick(): void {
    window.alert(this.message);
  }
}
</script>
