<template>
    <div class="weui-container weui-global-dom" id="halfSelfOption" :class="visible?'weui-global-dom-active':''"
         @click="handleClickMask" @touchmove="stop">
        <FitWxPhonex class="weui-half-screen-option weui-slide" :class="visible?'weui-slide-active':''">
            <div v-for="item in options" :key="item.name" @click="onOptionClick(item.name)" class="option-item">{{item.label}}</div>
            <div class="option-item" @click="onClose">{{cancelText}}</div>
        </FitWxPhonex>

        <!--        </transition>-->
    </div>
</template>
<script lang="ts">
import Vue from 'vue';
import {FitWxPhonex} from '@';

export default Vue.extend({
    name: 'FitHalfScreenOption',
    components:{
        FitWxPhonex
    },
    props: {
        title: String,
        visible: Boolean,
        maskClose: {
            type: Boolean,
            default: true,
        },
        cancelText: String,
        options: Array
    },
    methods: {
        onClose() {
            this.$emit('onClose');
        },
        handleClickMask(e: Event) {
            // todo 为什么这里会报错
            // @ts-ignore
            if (e && e.target && e.target.id === 'halfSelfOption') {
                if (this.maskClose) {
                    this.onClose();
                }
            }
        },
        onOptionClick(optionName){
            this.$emit('onOptionClick', optionName);
        },
        stop(e: Event) {
            e.preventDefault();
        },
    },
});
</script>
