.weui-btn_ghost {
  &.weui-btn_primary {
    background-color: transparent;
    color: @weuiBtnPrimaryBg;
    border: 1px solid @weuiBtnPrimaryBg;
    &:not(.weui-btn_disabled):visited {
      color: @weuiBtnPrimaryFontColor;
    }
    &:not(.weui-btn_disabled):active {
      color: @weuiBtnPrimaryActiveBg;
      background-color: transparent;
      border: 1px solid @weuiBtnPrimaryActiveBg;
    }
  }
}
