<template>
  <div class="fit-card">
    <div class="fit-card-hd fit-flex-r-space-c">
      <slot name="hd"></slot>
    </div>
    <div class="fit-card-bd fit-flex-c-c-c">
      <slot name="bd"></slot>
    </div>
    <div class="fit-card-ft fit-flex-c-c-c">
      <slot name="ft"></slot>
    </div>
    <slot></slot>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component
export default class FitCard extends Vue {}
</script>
