<template>
  <div class="weui-search-list fit-t-l fit-container">
    <div class="weui-cells_radio">
      <label class="weui-cell fit-nation-hd">
        <div class="weui-cell__bd  fit-font-28 fit-color-grey">
          <p>{{title}}</p>
        </div>
      </label>
      <div class="fit-t-c" v-show="loading">
        <FitIcon icon="loading"></FitIcon>
      </div>
      <label
        class="weui-cell weui-check__label fit-font-34"
        v-for="(item,index) in list"
        :key="index"
        @click="onClick(item)"
      >
        <div class="weui-cell__bd">
          <p>{{item.label}}</p>
        </div>
        <div class="weui-cell__ft">
          <FitIcon icon="tick" size="26" v-if="item.value===value"></FitIcon>
        </div>
      </label>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";
import {FitIcon} from '@';
@Component({
  components:{
    FitIcon
  }
})
export default class FitSearchList extends Vue {
  @Prop({ default: () => [] }) public list!: any[];
  @Prop({ default: "" }) public title!: string;
  @Prop({ default: false }) public loading!: boolean;
  @Model("change") public readonly value!: string[] | number[];
  onClick(item){
    this.$emit('select');
    this.$emit('change',item.value,item);
  }
}
</script>
