<template>
  <div class="weui-search-bar" :class="{'weui-search-bar_focusing':isFocus}">
    <div class="weui-search-bar__form">
      <div class="weui-search-bar__box">
        <i class="weui-icon-search"></i>
        <FitInput
          :value="value"
          @input="onInput"
          class="weui-search-bar__input"
          @focus="onFocus"
          @blur="onBlur"
          ref="input"
          :placeholder="searchPlaceholder"
          required
          id="fit-search-bar"
        ></FitInput>
        <!--                <input type="search" class="weui-search-bar__input" @focus="isFocus=true"   :placeholder="searchPlaceholder" required="" id="fit-search-bar"></input>-->
        <a href="javascript:" class="weui-icon-clear" @click.stop="clear"></a>
      </div>

      <label
        class="weui-search-bar__label"
        style="transform-origin: 0px 0px; opacity: 1; transform: scale(1, 1);"
        for="fit-search-bar"
      >
        <i class="weui-icon-search"></i>
        <span>{{value||searchPlaceholder}}</span>
      </label>
    </div>
    <a href="javascript:" class="weui-search-bar__cancel-btn" @touchstart="cancel">{{cancelText}}</a>
  </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Model } from "vue-property-decorator";
import { FitInput } from "@";
@Component({
  components: {
    FitInput
  }
})
export default class FitSearchBar extends Vue {
  @Prop({ default: "搜索" }) public searchPlaceholder!: string;
  @Prop({ default: "取消" }) public cancelText!: string;
  @Model("change") public readonly value!: string[] | number[];
  public isFocus: boolean = false;
  public cancel() {
    this.$emit("cancel");
    this.clear();
    //@ts-ignore
    this.$refs.input.blur();
  }
  public clear() {
    console.log("clear");
    this.onInput("");
  }
  public onInput(val: any) {
    document.body.scrollTop = document.body.scrollTop;
    this.$emit("change", val);
  }
  public onFocus() {
    this.isFocus = true;
    this.$emit("focus");
  }
  public onBlur() {
    this.isFocus = false;
    this.$emit("blur");
  }
}
</script>
