<template>
  <div class="fit-select" >
    <div class="fit-select-line" @click="visible=true">
      <slot name="label"></slot>
      <span class="fit-select-line-label" v-if="curLable">{{curLable}}</span>
      <span v-else class="fit-color-light-grey">{{placeholder}}</span>
      <span v-if="isInForm" class="fit-form-item-suffix">
        <fit-icon icon="triangle"></fit-icon>
      </span>
    </div>
    <FitHalfScreenDialog
      :appendToBody="appendToBody"
      class="fit-select"
      :title="title"
      @onClose="onClose"
      :visible="visible"
      @maskClose="maskClose"
      @touchmove.native.stop.prevent="touchmove"
      :class="{'fit-select-hideConfirm':hideConfirm}"
    >
      <div class="weui-cells weui-cells_radio">
        <slot>
          <div slot="bd">
            <FitSelectItem
              :for="index"
              v-for="(item,index) in items"
              :key="index"
              :label="item.label"
              :value="item.value"
            ></FitSelectItem>
          </div>
        </slot>
      </div>
      <div class="weui-picker__group" slot="ft" v-if="!hideConfirm">
        <FitButton :disabled="!curSelectItem" @click="confirm" >{{confirmBtnText}}</FitButton>
      </div>
    </FitHalfScreenDialog>
  </div>
</template>
<script lang="ts">
import { Component, Model, Prop, Watch, Mixins } from "vue-property-decorator";
import {
  FitHalfScreenDialog,
  FitButton,
  FitIcon,
  FitSelectItem
} from "@";
import FormMixin from "@/common/mixins/formMixin";

interface Options {
  label: string;
  value: any;
}

@Component({
  name: "FitSelect",
  components: {
    FitHalfScreenDialog,
    FitButton,
    FitIcon,
    FitSelectItem
  }
})
export default class FitSelect extends Mixins(FormMixin) {
  @Prop() public title!: string;
  @Prop() public appendToBody!: boolean;
  @Prop({ default: true }) public maskClose!: boolean;
  @Prop({ default: "" }) public placeholder!: string;
  @Prop({ default: () => [] }) public items!: Options[];
  @Prop() public confirmBtnText!: string;
  @Prop() public labelFor!: string;
  @Prop() public defaultValue!: string;
  @Prop({default:false}) public hideConfirm!: boolean;
  @Model("change") public readonly value!: any;
  public curValue = '';
  public visible = false;
  touchmove(){

  }
  @Watch('value')
  onValueChange(val){
    this.curValue = val
    this.notify("change", val);
  }

  public created() {
      this.$on("handleOptionClick", this.onItemChange);
      this.$on("registerItem", callback => {
        callback(this);
      });
    this.resetCurValue();
  }

  // 每一个子项点击
  onItemChange(value) {
    this.curValue = value;
    if(this.hideConfirm){
      this.$nextTick(()=>{
        this.confirm();
      })
    }
  }

  // 点击确认
  public confirm() {
    if(!this.curSelectItem){
      throw new Error('can not find current item')
    }
    this.$emit("change", this.curValue, this.curSelectItem.label);
    this.onClose();
  }


  get curSelectItem(){
    return this.items.find((item: Options) => item.value === this.curValue);
  }

  // 当前展示标签
  get curLable(){
    const curItem =  this.items.find((item: Options) => item.value === this.value);
    return curItem?curItem.label:''
  }

  public onClose() {
    this.$emit("onClose");
    this.visible = false;
    this.resetCurValue();
  }

  // 重置当前value
  resetCurValue(){
    this.curValue = this.value || this.defaultValue;
  }
}
</script>
