<template>
  <label
    class="weui-cell weui-check__label fit-select-item"
    :class="{'fit-select-item-disabled':disabled}"
    @click.prevent="onChange"
  >
    <div class="weui-cell__bd">
      <slot>{{label}}</slot>
    </div>
    <div class="weui-cell__ft">
      <FitIcon icon="tick" size="30" v-if="itemSelected||checked"></FitIcon>
    </div>
  </label>
</template>
<script lang="ts">
import { Component, Prop, Mixins } from "vue-property-decorator";
import Emitter from "@/common/mixins/emitter";
import {FitIcon} from '@';
@Component({
  components:{
    FitIcon
  }
})
export default class FitSelectItem extends Mixins(Emitter) {
  @Prop() value;
  @Prop({ default: "" }) label;
  @Prop({ default: false }) disabled;
  @Prop({ default: false }) checked;
  select: any = {};
  get itemSelected() {
    return this.select.curValue === this.value;
  }
  onChange() {
    if (this.disabled) {
      return;
    }
    this.dispatch("FitSelect", "handleOptionClick", this.value);
  }
  mounted() {
    this.dispatch("FitSelect", "registerItem", select => {
      this.select = select;
    });
  }
}
</script>
