@import "var";
@import "color";
@import "global";
@import "size";
@import "flex";
@import "line";
@import "placeholder";

// 字体
.__mixins_font_family(){
  font-family: PingFangSC-Regular, system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.@{__var_prefix}-t-c{
  text-align: center;
}
.@{__var_prefix}-t-r{
  text-align: right;
}
.@{__var_prefix}-t-l{
  text-align: left;
}
.@{__var_prefix}-t-b{
  font-weight: bold;
}

.@{__var_prefix}-flex-c-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.@{__var_prefix}-flex-r-space-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.@{__var_prefix}-flex-r-c-c{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.@{__var_prefix}-flex-r-s-s{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.@{__var_prefix}-flex-r-s-c{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.@{__var_prefix}-flex-1{
  flex-grow: 1;
  flex-shrink: 0;
}
