@import "var";

.@{__var_prefix}-color-light-blue{
  color:@__color_light-blue;
}
.@{__var_prefix}-color-grey{
  color:@__color_grey;
}
.@{__var_prefix}-color-light-grey{
  color:@__color_grey_3;
}
.@{__var_prefix}-color-grey-5{
  color:@__color_grey_5
}

.@{__var_prefix}-color-black{
  color:@__color_black;
}
.@{__var_prefix}-color-red{
  color:@__color_red;
}

.@{__var_prefix}-color-yellow{
  color:@__color_yellow;
}

.@{__var_prefix}-color-orangle{
  color:@__color_orangle;
}
