.mixins_flex(){
  display: flex;
}
.mixins_flex_d_c(){
  flex-direction: column;
}
.mixins_flex_d_r(){
  flex-direction: row;
}
.mixins_flex_c-l-c(){
  .mixins_flex();
  .mixins_flex_d_c();
  justify-content: center;
  align-items: flex-start;
}

.mixins_flex_r-c-c(){
  .mixins_flex();
  .mixins_flex_d_r();
  justify-content: center;
  align-items: center;
}

.mixins_flex_r-l-c(){
  .mixins_flex();
  .mixins_flex_d_r();
  justify-content: flex-start;
  align-items: center;
}
.mixins_flex_r-l-e(){
  .mixins_flex();
  .mixins_flex_d_r();
  justify-content: flex-start;
  align-items: flex-end;
}
.mixins_flex_r-l-t(){
  .mixins_flex();
  .mixins_flex_d_r();
  justify-content: flex-start;
  align-items: flex-start;
}
.mixins_flex_r-l-base(){
  .mixins_flex();
  .mixins_flex_d_r();
  justify-content: flex-start;
  align-items: baseline;
}

