@import "var";
@import "flex";
.@{__var_prefix}-form-item-el{
  width: 100%;
  .weui-cell{
    padding-left: 0;
    padding-right: 0;
    &:before{
      left: 0;
    }
  }
  &-line{
    width: 100%;
    .mixins_flex();
    justify-content: space-between;
    align-items: center;
  }
}
