@import "var";
.__mixins_border(){
  &{
    position: relative;
    &:after{
      content: ' ';
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      height: 1px;
      background: @__color_grey;
      transform: scaleY(0.5);
    }
  }
}
