input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: @__color_grey_3;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: @__color_grey_3;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: @__color_grey_3;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: @__color_grey_3;
}
