@import "var";
.__mixins_font(){
  .@{__var_prefix}-font-48{
    font-size: @__size_font_48;
  }
  .@{__var_prefix}-font-40{
     font-size: @__size_font_40;
   }
  .@{__var_prefix}-font-36{
     font-size: @__size_font_36;
   }
  .@{__var_prefix}-font-30{
    font-size: @__size_font_30;
  }
  .@{__var_prefix}-font-34{
    font-size: @__size_font_34;
  }
  .@{__var_prefix}-font-32{
    font-size: @__size_font_32;
  }
  .@{__var_prefix}-font-28{
    font-size: @__size_font_28;
  }
  .@{__var_prefix}-font-26{
    font-size: @__size_font_26;
  }
  .@{__var_prefix}-font-22{
    font-size: @__size_font_22;
  }
  .@{__var_prefix}-font-24{
    font-size: @__size_font_24;
  }
}
