@import "base";
.weui{
  &-container{
    font-size: 28/@__var_rem;
  }
}

.mixins-weui-slide(){
  .weui-slide{
    transition: transform .3s;
    transform: translate3d(0, 100%, 0);
  }
  .weui-slide-active{
    transform: translate3d(0, 0, 0);
  }
}

.mixins-weui-fade(){
  .weui-fade{
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }
  .weui-fade-active{
    opacity: 1;
  }
}

.weui-dialog__btn{
  user-select: none;
}

.mixins-weui-fade();
.mixins-weui-slide();

.weui-inline-block{
  display: inline-block!important;
}

.weui-global-dom{
  z-index: 5000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  transition: height 0.001s @__var_transition_t, background @__var_transition_t;

  &-active{
    height: 100%;
    background: @__color_mask;
    transition: background @__var_transition_t;
  }
}


html,body{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.weui-half-screen-dialog{
  padding: 0 30/@__var_rem;
  .weui-half-screen-dialog__hd{
    height: 122/@__var_rem;
    line-height: 122/@__var_rem;
  }
  .weui-half-screen-dialog__bd{
    .weui-cells{
      margin-top: 0;
    }
  }
  .weui-half-screen-dialog__hd__side{
    .weui-icon-btn_close{
      margin-left:2/@__var_rem;
    }
  }
  .weui-btn-size_normal{
    height: 80/@__var_rem;
    padding: 0 150/@__var_rem;
    line-height: 80/@__var_rem;
  }
  .weui-half-screen-dialog__ft{
    padding: 60/@__var_rem 0;
  }
}

//.weui-toast{
//  .weui-icon{
//    font-size: 64/@__var_rem;
//  }
//}
//
//.weui-icon{
//  &.weui-loading{
//    width: 80/@__var_rem;
//    height: 80/@__var_rem;
//  }
//}
