/*
* Tencent is pleased to support the open source community by making WeUI available.
* 
* Copyright (C) 2017 THL A29 Limited, a Tencent company. All rights reserved.
* 
* Licensed under the MIT License (the "License"); you may not use this file except in compliance
* with the License. You may obtain a copy of the License at
* 
*       http://opensource.org/licenses/MIT
* 
* Unless required by applicable law or agreed to in writing, software distributed under the License is
* distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
* either express or implied. See the License for the specific language governing permissions and
* limitations under the License.
*/

@import "../../base/fn";

.weui-toast {
    position: fixed;
    z-index: 5000;
    width: 7.6em;
    min-height: 7.6em;
    top: 180px;
    left: 50%;
    margin-left: -3.8em;
    background: rgba(17,17,17,0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
.weui-icon_toast {
    margin: 24px 0 0;
    /* display: block; */ /* doublezhang 注释 20191018*/
    &.weui-icon-success-no-circle{
      &:before {
          color: #FFFFFF;
          font-size: 55px;
      }
    }
    &.weui-loading{
      margin:32px 0 0;
      width:38px;
      height:38px;
      vertical-align: baseline;
    }
}

.weui-toast__content {
    margin: 0 0 16px;
    font-size:14px;
}
