<template>
  <div class="fit-corner weui-container">
    <div class="fit-corner-tl"></div>
    <div class="fit-corner-tr"></div>
    <div class="fit-corner-bl"></div>
    <div class="fit-corner-br"></div>
    <slot></slot>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "FitCorner"
});
</script>
