<template>
  <div class="fit-t-c fit-result-box fit-container">
    <FitIcon :icon="icon"></FitIcon>
    <div class="fit-font-40">{{title}}</div>
    <div class="fit-font-28 fit-color-grey fit-result-desc">{{desc}}</div>
  </div>
</template>
<script lang="ts">
import { FitButton, FitIcon } from "@";
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({
  components: {
    FitButton,
    FitIcon
  }
})
export default class ReviewIng extends Vue {
  @Prop({ default: "waiting" }) public icon;
  @Prop() public title;
  @Prop() public desc;
}
</script>
