<template>
  <div class="fit-navbar fit-container fit-flex-r-c-c">
    <slot></slot>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component
export default class FitNavBarItem extends Vue {}
</script>

