<template>
  <div class="fit-font-30 fit-info-box">
    <div class="fit-info-box-title" v-if="title">{{title}}</div>
    <div class="fit-info-box-inner" :class="[{'fit-info-box-inner-border':!hideBorder}]">
      <slot></slot>
    </div>
  </div>
</template>
<script lang="ts">
  import { Prop, Component, Vue } from "vue-property-decorator";
  @Component
  export default class FitInfoBox extends Vue{
    @Prop()title!:string;
    @Prop({default:true})hideBorder!:boolean;

  }
</script>
