<template>
    <div class="fit-info-box-line fit-flex-r-space-c" >
        <span class="fit-color-grey fit-info-box-line-left">{{label}}</span>
        <span class="fit-info-box-line-right" :class="[`fit-info-box-line-align_${align}`]"><slot></slot></span>
    </div>
</template>
<script lang="ts">
  import { Prop, Component, Vue } from "vue-property-decorator";
  @Component
  export default class FitInfoBoxItem extends Vue{
        @Prop()label;
        @Prop({default:'right'})align!:string;
  }
</script>
