<template>
    <div class="weui-layout" :class="{isIphonex:isIphonex}">
        <div class="weui-layout-bd">
            <slot></slot>
        </div>
        <FitWxPhonex class="weui-layout-ft" @resize="onResize">
            <slot name="ft"></slot>
        </FitWxPhonex>
    </div>
</template>
<script lang="ts">
    import {Component, Prop, Vue, Watch} from "vue-property-decorator";
    import {FitWxPhonex} from '@';

    @Component({
        components:{
            FitWxPhonex
        }
    })
    export default class FitLayout extends Vue {
        isIphonex=false;
        onResize(val){
            this.isIphonex = val
        }
    }
</script>
