<template>
  <VerifyPwdPage
    :title="title"
    :subTitle="subTitle"
    :pin="pin"
    :pwdLength="pwdLength"
    @filled="(val)=>$emit('filled',val)"
  >
    <div class="pwd-confirm-box" slot="content">
      <fitButton
        size="normal"
        :disabled="pin.length !== pwdLength"
        @click="$emit('confirm',pin)"
      >{{confirmText}}</fitButton>
    </div>
  </VerifyPwdPage>
</template>
<script lang="ts">
import { FitIcon, FitButton } from "@";
import { Component, Vue, Prop } from "vue-property-decorator";
import VerifyPwdPage from "@/packages/verify-pwd-page/src/index.vue";
@Component({
  components: {
    FitIcon,
    FitButton,
    VerifyPwdPage
  }
})
export default class PwdConfirm extends Vue {
  @Prop() public title!: string;
  @Prop() public subTitle!: string;
  @Prop() public confirmText!: string;
  @Prop({ default: () => [] }) public pin!: string[];
  @Prop({ default: 6 }) public pwdLength!: number;
}
</script>
