/*
* Tencent is pleased to support the open source community by making WeUI available.
*
* Copyright (C) 2017 THL A29 Limited, a Tencent company. All rights reserved.
*
* Licensed under the MIT License (the "License"); you may not use this file except in compliance
* with the License. You may obtain a copy of the License at
*
*       http://opensource.org/licenses/MIT
*
* Unless required by applicable law or agreed to in writing, software distributed under the License is
* distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
* either express or implied. See the License for the specific language governing permissions and
* limitations under the License.
*/
@import "~themes";
@weuiBtnWidth: 184px;
@weuiBtnHeight: 40px;
@weuiBtnFontSize: 17px;
@weuiBtnBorderRadius: 4px;
@weuiBtnDefaultGap: 16px;

@weuiBtnMiniFontSize: 16px;
@weuiBtnMiniWidth: 58px;
@weuiBtnMiniHeight: 32px;

@weuiBtnCellHeight: 56px;
@weuiBtnCellGap: 16px;
@weuiBtnCellLineHeight: unit(
  (@weuiBtnCellHeight - 2 * @weuiBtnCellGap) / @weuiBtnFontSize
);

@weuiBtnFontColor: #ffffff;
@weuiBtnActiveFontColor: #ffffff;
@weuiBtnDisabledFontColor: #fff;
@weuiBtnDisabledBg: #9ce7c0;
@weuiBtnHoverDefaultMask: @weuiActiveMaskWhite;
@weuiBtnHoverPrimaryMask: @weuiActiveMaskColored;

@weuiBtnDefaultFontColor: #06ae56;
@weuiBtnDefaultActiveFontColor: #06ae56;
@weuiBtnDefaultDisabledFontColor: @weuiBtnDisabledFontColor;

@weuiBtnDefaultBg: #f2f2f2;
@weuiBtnDefaultActiveBg: #d9d9d9;
@weuiBtnDefaultDisabledBg: @weuiBtnDisabledBg;

@weuiBtnPrimaryFontColor: #ffffff;
@weuiBtnPrimaryActiveFontColor: #ffffff;
@weuiBtnPrimaryDisabledFontColor: @weuiBtnDisabledFontColor;

@weuiBtnPrimaryBg: @__color_green;
@weuiBtnPrimaryActiveBg: @__color_green_active;
@weuiBtnPrimaryDisabledBg: @weuiBtnDisabledBg;

@weuiBtnWarnFontColor: @weuiColorWarn;
@weuiBtnWarnActiveFontColor: @weuiColorWarn;
@weuiBtnWarnDisabledFontColor: @weuiBtnDisabledFontColor;

@weuiBtnWarnBg: #f2f2f2;
@weuiBtnWarnActiveBg: #d9d9d9;
@weuiBtnwarnDisabledBg: @weuiBtnDisabledBg;

@weuiBtnPlainPrimaryColor: #07c160;
@weuiBtnPlainPrimaryBorderColor: rgba(26, 173, 25, 1);
@weuiBtnPlainPrimaryActiveColor: overlay(
  @weuiBtnHoverPrimaryMask,
  @weuiBtnPlainPrimaryColor
);
@weuiBtnPlainPrimaryActiveBorderColor: overlay(
  @weuiBtnHoverPrimaryMask,
  @weuiBtnPlainPrimaryBorderColor
);

@weuiBtnPlainDefaultColor: rgba(53, 53, 53, 1);
@weuiBtnPlainDefaultBorderColor: rgba(53, 53, 53, 1);
@weuiBtnPlainDefaultActiveColor: overlay(
  @weuiBtnHoverDefaultMask,
  @weuiBtnPlainDefaultColor
);
@weuiBtnPlainDefaultActiveBorderColor: overlay(
  @weuiBtnHoverDefaultMask,
  @weuiBtnPlainDefaultBorderColor
);
