<template>
    <div class="fit-badge">
        <slot></slot>
        <div v-if="AlignType==='middle'"
             v-show="!hidden && (content || content === 0 || isDot)"
             v-text="content"
             class="fit-badge__content"
             :class="[
          'fit-badge__content--' + type,
          {
            'is-fixed': $slots.default,
            'is-dot': isDot
          }
        ]">
        </div>
        <sup v-else
             v-show="!hidden && (content || content === 0 || isDot)"
             v-text="content"
             class="fit-badge__content"
             :class="[
          'fit-badge__content--' + type,
          {
            'is-fixed': $slots.default,
            'is-dot': isDot
          }
        ]">
        </sup>
    </div>
</template>
<script lang="ts">
  import {Prop, Component, Vue} from "vue-property-decorator";

  @Component
  export default class FitInfoBox extends Vue {
    @Prop({default: true}) isDot!: boolean;
    @Prop() hidden!: boolean;
    @Prop() value!: string | number;
    @Prop() max!: number;
    @Prop() type!: string;
    @Prop({default: 'middle'}) AlignType!: string;

    get content() {
      if (this.isDot) return;

      const value = this.value;
      const max = this.max;

      if (typeof value === 'number' && typeof max === 'number') {
        return max < value ? `${max}+` : value;
      }

      return value;
    }
  }
</script>
