<template>
  <div class="fit-operation-banner" @click="$emit('click')">
    <div class="fit-operation-banner-hd">
      <slot></slot>
    </div>
    <div class="fit-operation-banner-bd">
      <div class="fit-operation-banner-title">{{title}}</div>
      <div class="fit-operation-banner-desc fit-color-grey">{{desc}}</div>
    </div>
    <div class="fit-operation-banner-ft">
      <div class="fit-operation-banner-suffix">{{suffix}}</div>
      <FitIcon icon="triangle"></FitIcon>
    </div>
  </div>
</template>
<script lang="ts">
  import { Prop, Component, Vue } from "vue-property-decorator";
  import FitIcon from '../../icon/index';
  @Component({
    components:{
      FitIcon
    }
  })
  export default class FitInfoBox extends Vue{
    @Prop()title!:string;
    @Prop()desc!:string;
    @Prop()suffix!:string;
  }
</script>
