<template>
  <div class="fit-switch">
    <div class="weui-cell__ft">
      <label for="switchCP" class="weui-switch-cp">
        <input
          id="switchCP"
          class="weui-switch-cp__input"
          type="checkbox"
          @click="bindSwitch"
          :checked="checked"
        />
        <div class="weui-switch-cp__box"></div>
      </label>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Vue,
  Model,
  Prop,
  Watch,
  Mixins,
  Emit
} from "vue-property-decorator";
import FormMixin from "@/common/mixins/formMixin";
@Component
export default class FitSwitch extends Mixins(FormMixin) {
  @Prop({
    type: Boolean,
    default: false
  })
  checked!: boolean;
  @Prop({
    type: Boolean,
    default: false
  })
  disabled!: boolean;
  @Emit("change")
  bindChange(e: MouseEvent) {}
  @Emit("switch")
  bindSwitch(e: MouseEvent) {
    console.log("e.target.checked", this.checked);
    e.preventDefault();
    return false;
  }
}
</script>